<mat-card class="reset-password-container">
  <mat-card-title>
    <img src="/assets/images/login/logo.png" alt="GroundSchool NZ"><br>
    Reset Password
  </mat-card-title>

  <!-- Reset password form -->
  <div *ngIf="showSendCodeForm()">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSendResetCode()">
      <mat-card-content *ngIf="showSendCodeForm();">
        <div class="reset-message">
          Enter your email address and we'll send instructions
          on how to reset your password.
        </div>

        <div>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="!resetPasswordForm.get('email').valid && resetPasswordForm.get('email').touched">
              Valid email required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="error-message">
          {{ sendCodeErrorMessage }}
        </div>

        <mat-card-actions class="login-container__actions-panel">
            <button mat-raised-button [disabled]="!resetPasswordForm.valid">Reset Password</button>
        </mat-card-actions>

        <div class="return-to-login">
          <a routerLink="" (click)="showLoginForm()">Return to the log in page</a>
        </div>
      </mat-card-content>
    </form>
  </div>

  <!-- Reset password confirmation form -->
  <div *ngIf="showResetPasswordForm()">
    <form [formGroup]="resetPasswordConfirmForm" (ngSubmit)="onResetPassword()">
      <mat-card-content>
        <div class="reset-message">
          Please enter the confirmation code you received via email to reset your password.
        </div>

        <div>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="!resetPasswordConfirmForm.get('email').valid && resetPasswordConfirmForm.get('email').touched">
              Valid email required
            </mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input matInput formControlName="code" placeholder="Confirmation code">
            <mat-error *ngIf="!resetPasswordConfirmForm.get('code').valid && resetPasswordConfirmForm.get('code').touched">
              Required
            </mat-error>
          </mat-form-field>
        </div>

        <div formGroupName="password">
          <div>
            <mat-form-field>
              <input matInput formControlName="original" type="password" placeholder="Password">
              <mat-error *ngIf="!resetPasswordConfirmForm.get('password.original').valid && resetPasswordConfirmForm.get('password.original').touched">
                Required
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput formControlName="confirm" type="password" placeholder="Confirm Password">
              <mat-error *ngIf="!resetPasswordConfirmForm.get('password.confirm').value !== '' && resetPasswordConfirmForm.get('password.confirm').touched">
                Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="error-message">
          {{ resetPasswordErrorMessage }}
        </div>

        <mat-card-actions class="login-container__actions-panel">
            <button mat-raised-button [disabled]="!resetPasswordConfirmForm.valid">Reset Password</button>
        </mat-card-actions>

      </mat-card-content>
    </form>
  </div>

  <!-- Success message -->
  <div *ngIf="showSuccessMessage()">
    <mat-card-content>
      <div>
        Your password was successfully reset.
      </div>

      <div class="return-to-login">
          Return to <a routerLink="" (click)="showLoginForm()">Log in</a>
        </div>
    </mat-card-content>
  </div>

</mat-card>