<div class="page-wrapper">
  <mat-card class="reset-password-container">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">

      <mat-card-title>
        <img src="/assets/images/login/logo.png" alt="GroundSchool NZ"><br>
        Reset Password
      </mat-card-title>
      
      <mat-card-content *ngIf="showResetForm();else success_message">
        <div class="reset-message">
          Enter your email address and we'll send instructions
          on how to reset your password.
        </div>
        
        <div>
          <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
            <mat-error *ngIf="!resetPasswordForm.get('email').valid && resetPasswordForm.get('email').touched">
              Valid email required
            </mat-error>
          </mat-form-field>
        </div>
  
        <mat-card-actions class="login-container__actions-panel">
            <button mat-raised-button [disabled]="!resetPasswordForm.valid">Reset</button>
        </mat-card-actions>
      </mat-card-content>

      <ng-template #success_message>
        <mat-card-content>
          <div class="reset-message">
            Password reset instructions have been sent to
            {{ resetPasswordForm.get('email').value }}.
          </div>
          <div>
            <a [routerLink]="['/login']">Return to log in page</a>
          </div>
        </mat-card-content>
      </ng-template>
      

    </form>
  </mat-card>
  </div>