.reset-password-container {
    padding: 20px 40px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.reset-message {
    margin-bottom: 20px;
}

.error-message {
    padding: 0px 0 14px 0;
    color: #f44336;
}

.mat-card-footer {
    margin-bottom: 10px;
}

.return-to-login {
    margin-top: 20px;
    font-size: 0.8em;
}