.mat-expansion-panel {
    margin-bottom: 1px;
    border: 1px solid #ddd;
}

.mat-expansion-panel-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

/deep/ .mat-expansion-panel-body {
    padding: 16px 24px 16px;
    background-color: #f7f7f7;
}