<mat-expansion-panel class="mat-elevation-z0">
  <mat-expansion-panel-header [expandedHeight]="'auto'" [collapsedHeight]="'auto'">
    <mat-panel-title>{{ questionText }}</mat-panel-title>
  </mat-expansion-panel-header>

  <div class="answer">
    <strong>A) </strong> {{ answerText }}
  </div>

  <div class="references">
    <span class="title"><strong>References:</strong></span>
    <ul>
      <li *ngFor="let reference of sortReferences(question.references)">
          <a href="{{ reference.url }}" target="_blank" *ngIf="reference.url; else noLink">{{ reference.text }}</a>
          <ng-template #noLink>{{ reference.text }}</ng-template>
      </li>
    </ul>
  </div>
  <span class="clear"></span>
  
</mat-expansion-panel>