.wrapper {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;

    .content-wrapper {
        max-width: 900px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }

    .title, .viewer {
        flex: 1 0 auto;
    }
}