.wrapper {
    display: block;
}

.navbar {
    height: 60px;
}

.content {
    margin-bottom: 100px;
    max-width: 100%;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: 1px solid #eee;

    &__fb {

        &--logo {
            width: 16px;
            vertical-align: top;
            margin: 0;
            padding: 2px 4px 0 0;
        }

        &--text typography {
            vertical-align: top;
            color: #fff;
        }
    }
}

mat-sidenav {
    width: 260px;
}

.sidebar-container {
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
}