<div>
  <p class="paging-nav paging-nav--top" *ngIf="enablePagination && hasReviewQuestions()">
    <button mat-button (click)="goToPreviousPage()" [disabled]="!canGoToPreviousPage()"><<</button>
    Questions {{ startIndex+1 }}-{{ endIndex }} of {{ reviewSet.Questions.length }}
    <button mat-button (click)="goToNextPage()" [disabled]="!canGoToNextPage()">>></button>
    <span *ngIf="shouldDisplayShowMoreLink()">
      <br><a routerLink="{{ showMoreLink }}">Gimme everything at once</a>
    </span>
  </p>
</div>

<ul *ngIf="hasReviewQuestions(); else noQuestions">
    <li *ngFor="let q of currentPage" class="review-question">
      <div class="header">
        <h4>Syllabus Ref: {{ q.SyllabusRef }}</h4>
        <div class="action-buttons" *ngIf="showActionButtons">
          <i
            class="material-icons action-buttons--delete"
            matTooltip="Remove"
            (click)="deleteReviewQuestion(q)">clear</i></div>
      </div>
      
      <div class="content">
        <p class="question">
            <strong>Q.</strong> {{ q.Question }}
        </p>
        <p class="answer">
            <strong>A.</strong> {{ q.Answer }}
        </p>
      </div>
    </li>
</ul>

<div>
  <p class="paging-nav" *ngIf="enablePagination && hasReviewQuestions()">
    <button mat-button (click)="goToPreviousPage()" [disabled]="!canGoToPreviousPage()"><<</button>
    Questions {{ startIndex+1 }}-{{ endIndex }} of {{ reviewSet.Questions.length }}
    <button mat-button (click)="goToNextPage()" [disabled]="!canGoToNextPage()">>></button>
    <span *ngIf="shouldDisplayShowMoreLink()">
      <br><a routerLink="{{ showMoreLink }}">Gimme everything at once</a>
    </span>
  </p>
</div>

<ng-template #noQuestions>
    <div class="no-review-questions">
        <p><i class="material-icons">check_circle_outline</i>No questions marked for review.</p><br>
    </div>
</ng-template>