<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>Tips for flying to a new aerodrome</app-page-title>
    </div>

    <div class="content">
      <p class="article-info">Published Monday Feb 3, 2020</p>

<p>
  Despite the standardisation of procedures for operating at aerodromes in New Zealand,
  a few things still might catch you out during your first trip to a new field.
  Here are a few tips to help make sure you’re ahead of the game before you take off.
</p>

<h3>Study the chart</h3>

<p>
  Charts are published in the “AIP New Zealand” for many of New Zealand’s aerodromes. You can either 
  find them in AIP Volume 4, or get them freely available online on the
  <a href="http://www.aip.net.nz/NavWalk.aspx?section=CHARTS" target="_blank">AIP New Zealand website.</a>
</p>

<p>
  Some pilots like to carry a ‘quick reference’ A5 clearfile containing printed out charts for aerodromes 
  they visit frequently, to avoid having to look through the entire AIP Volume 4 for the relevant pages. 
  Remember that CAR Part 91 requires current and appropriate aeronautical charts to be accessible to every 
  flight crew member of the aircraft (91.221).
</p>

<p>
  Study the chart closely before the flight and take special note of:
</p>

<ul>
    <li>Orientation of any runways you might use;</li>
    <li>Circuit direction for each runway, and any non-standard circuit or joining heights;</li>
    <li>Any special or non-standard joining instructions (eg. no overhead joins);</li>
    <li>What your taxi plan is once you're on the ground;</li>
    <li>Location of the windsocks (this is a good one to know before you get there!);</li>
    <li>Fuel availability and type, if you’re likely to need it;</li>
    <li>For night flights - what kind of lighting is available, and how to activate it;</li>
    <li>Whether you need permission from the operator to use the aerodrome, and any other restrictions.</li>
</ul>

<img src="/assets/images/articles/2020-02-03/vol-4.jpg" class="center">

<h3>Use Google Maps</h3>

<p>
  Google Maps is an amazing tool for familiarising yourself with new areas. Satellite view allows you to 
  zoom in on VRPs (Visual Reporting Points) or make note of significant geographical features. You can also 
  use Street View on a road close to the field to see the geography's like, which can can be 
  especially useful in mountainous terrain.
</p>

<p>
  The primary source of information for flight planning and navigation should always be a VNC (Visual Navigation Chart) 
  but combining this with Google Maps and/or Google Earth can give you powerful visualisation tools for your 
  trip.
</p>

<img src="/assets/images/articles/2020-02-03/street-view.png" class="center">

<h3>Make an aerodrome quick-reference</h3>

<p>
    Things can get busy approaching a new airfield. One tip I’ve found particularly helpful is to have some 
    kind of quick-reference information written down about the “must know” aspects of getting on the ground. 
    This includes:
</p>

<ul>
    <li>Runway vectors, and circuit direction for each - especially for right-hand (ie. non-standard) circuits;</li>
    <li>
      Circuit elevation, and joining elevation in AMSL. For example, if the aerodrome elevation is 200’ with a 
      standard circuit height of 1000’, I’ll write down “Circuit: 1200’”. Approaching the circuit isn’t a good 
      time to be converting heights between AGL and AMSL, so I tend to write down the number I want to see on the altimeter;
    </li>
    <li>Frequencies (especially for larger towered airports, where there may be approach, tower, and ground frequencies);</li>
    <li>Any other really important information, like runway closures, work in progress, or the Kiwi special: sheep on the runway.</li>
</ul>

<h3>Chair Fly, or use a Simulator</h3>

<p>
    If you haven’t come across “chair flying” before, it just means sitting in a chair at home, and working 
    through the process and procedures you’ll encounter during the flight. It’s a valuable training tool that 
    helps you familiarise yourself with how things are likely to play out before you get in the plane.
</p>

<p>
  An example might be running through from TOD (Top Of Descent) to landing, working through each procedure 
  and checklist while visualising how the flight will progress. This can help minimise surprises or “getting 
  behind the plane” during the actual flight.
</p>

<p>
  An alternative, if available, is flying your planned route in a flight simulator. The sim doesn’t have 
  to be anything fancy - it’s main goal is to give you the benefits of chair flying with the added situational 
  awareness that comes with also being able to see the route “in-person”.
</p>

<img src="/assets/images/articles/2020-02-03/xplane-omaka.jpg" class="center">

<h3>Local knowledge</h3>

<p>
    If you haven’t heard the saying “local knowledge is the best source of information”, you will soon. The best 
    way to learn the ins-and-outs for visiting a new airfield is to get on the phone and call a local operator. Everyone 
    I’ve talked to so far has been exceptionally friendly and more than happy to share information on things like local 
    weather patterns, things to look out for, common routes to/from the aerodrome, training areas, if the cafe’s open, etc.
</p>

<p>
    This can be especially useful, and especially important, at places with high traffic volume, high amounts of 
    aircraft training, or unique procedures. Examples are Ardmore in Auckland, aerodromes around Christchurch, or many 
    of the mountainous airports like Wanaka or Queenstown.
</p>

<p>
    It can be a little daunting calling up a strange person on the phone, especially if you’re a new pilot. Like I said 
    though, everyone I’ve talked to has been incredibly friendly and more than willing to help.
</p>

<hr>

<p>
    Checking out new aerodromes is a rewarding experience, making the most of what aeroplanes are good at. We hope 
    these tips help make the process a little easier.
</p>

<p>
    If you have any tips you want to share please send them our way, over on the 
    <a href="https://facebook.com/groundschoolnz" target="_blank">GroundSchool NZ Facebook page.</a>
</p>