<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>Self-study tips (Part 2)</app-page-title>
    </div>

    <div class="content">
      <p class="article-info">Published Monday Jan 20, 2020</p>

<p>
  Last week we imparted <a routerLink="/articles/self-study-tips">four tips to help you self-study for the CAA written exams</a>.
  Well here's a treat - we're back with five more!
<p>

<p>
  Without further ado...
</p>

<h3>5. Make a ‘quick-reference’ sheet</h3>

<p>
    An Aspeq-exam specific tip to start. A good portion of the exam questions require a 
    solid understanding of the general theory around a topic, and then deriving the answers
    from that knowledge. An example might be the internal combustion engine process. But, there
    are definitely questions that just require you to straight up memorise lists of numbers or
    words. A good example is VFR weather minima.
</p>

<img src="/assets/images/articles/2020-01-20/1.jpg" class="center">

<p>
    A tip that’s worked for a few people we've talked to is is making a quick-reference sheet 
    that you can revise right before you go into the exam. This makes sure the information is
    fresh in your mind. Of course, also study it earlier than 5 minutes before the exam - it's
    only supposed to be a <i>refresher</i>.
</p>

<p>
    Take it from personal experience, there’s nothing worse than seeing an exam question 
    and thinking “I remember reading about that, but I can't remember if it was 500m or 1500m."
    Never again!
</p>

<h3>6. Annotate your notes</h3>

<p>
  If you’re writing notes while studying (we recommend it as a good way to tell whether you
  understand something or not), develop a system to mark out important sections (ie. topics you 
  know will be an exam question), things that need further research to understand, or things 
  to come back to later that you know will be tricky to remember and need looking at a few times.
</p>

<img src="/assets/images/articles/2020-01-20/2.jpg" class="center">

<p>
  Be consistent with the formatting (eg. I use a box with 'IMPORTANT' written inside it) and it
  will make reviewing your notes much faster by quickly being able to see which parts you <i>need</i>
  to look at and what can be skipped if you're running short on time.
</p>

<h3>7. Try explaining it to someone</h3>

<p>
    You’ve probably heard that the best way to see if you know something is trying to explain 
    it or teach it to someone else. It’s a quick way to figure out where the holes in your 
    knowledge are. In general you should be able to explain topics simply - if the explanation 
    is overly complicated it might be worth reviewing the material to make sure you understand it.
</p>

<h3>8. Review</h3>

<p>
    Studying isn’t just reading the textbook and calling it a day (unless you’re one 
    of those people who can...  good for you). Making sure you go back to review, either 
    by making your own Flashcards, or using a website or app that have cards created by
    other people (just be careful that you're studying a good quality set of questions
    if they're ones created by random people).
</p>

<img src="/assets/images/articles/2020-01-20/3.png" class="center">

<p>
    A few websites/apps with CAA question banks on them are 
    <a href="https://quizlet.com" target="_blank">Quizlet</a>,
    <a href="https://quizzizz.com" target="_blank">Quizzizz</a>,
    <a href="https://chegg.com" target="_blank">Chegg</a>, or, hey ...
    <a routerLink="/" target="_blank">GroundSchool NZ</a>!
</p>

<h3>8. Mock exams</h3>

<p>
    Waypoints (the primary author of New Zealand aviation textbooks) provide
    <a href="https://exams.waypoints.nz" target="_blank">mock exams</a> through their website,
    which simulate the actual exams very closely. The mock exams provide a similar scenario
    to the actual exam (ie. timed, number of questions), as well as very closely matching the
    style of exam question. In fact, mock exam questions are frequently found in the actual exam.
</p>

<img src="/assets/images/articles/2020-01-20/4.png" class="center">

<p>
    A few free alternatives are popping up, which is awesome! The two we're aware
    of are <a href="https://pplexams.co.nz" target="_blank">PPL Exams</a>, and 
    <a href="https://www.facebook.com/AvKwiz" target="_blank">Av Kwizzes</a> (link is to
    their Facebook page, see the post from Oct 30, 2018 for links to the quizzes as Google Docs).
</p>

<hr>

<p>
  Self-studying is hard but we hope these will help you get through it. We're always happy to help - feel
  free to send us any questions over at our <a href="https://facebook.com/groundschoolnz" target="_blank">Facebook page</a>,
  and if you have any other tips you'd recommend send them our way and we'll share them with the group.
</p>

<p>
  Happy studying!
</p>
    </div>
  </div>
</div>