.mat-card {
    margin-top: 5px;
    padding: 20px 20px 10px 20px;

    &__sm {
        padding: 5px auto;
    }

    .mat-card-title {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
        font-weight: 300;

        .text {
            flex: 1 1 auto;
            margin-left: 0px !important;
        }
        
        .expand-collapse {
            flex: 0 0 auto;
            margin: 0;
            font-size: 0.7em;

            .mat-flat-button {
                font-weight: 100;
                background-color: #eee !important;
                color: #000;
            }

            i {
                cursor: pointer;
                font-size: 1.4em;
                vertical-align: middle;
                margin-top: -4px;       
            }
        }
    }
}

.mat-card-content {
    overflow: auto;
    height: 400px;
    margin-top: 16px;

    &__sm {
        margin-top: 8px;
        height: 140px;
    }
}

.hidden {
    height: 0px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    color: #666;
    padding: 0;
    margin: 0;

    .item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        flex-direction: row;
        padding: 6px 14px 6px 8px;
        padding-left: 8px;
        padding-right: 14px;
        margin: 3px 0;
        border-left: 2px solid #ddd;

        &__sm {
            padding-top: 2px;
            padding-bottom: 2px;
        }
        
        .question-title {
            flex: 1 1 auto;
            cursor: pointer;
            margin: 0 2px;
            align-items: center;
        }

        .question-counter {
            flex: 0 0 auto;
            padding: 0;
            margin: 0;

            &__number {
                background-color: #ddd;
                border-radius: 4px;
                padding: 1px 4px;
                margin: 0;
                font-size: 0.9em;
            }
        }
    }

    li:last-child {
        border-bottom: none;
    }
}

.selected {
    color: #000;
    border-left-color: #3f51b5 !important;
}