<mat-card ngClass.lt-md="mat-card__sm">
  <mat-card-title>
    <span class="text">Topics</span>
    <span
      class="expand-collapse"
      fxHide.gt-sm="true">
      <button mat-flat-button *ngIf="showTopicList(); else showTopics" (click)="toggleTopicListVisible()">
        Hide
        <i class="material-icons">keyboard_arrow_up</i>
      </button>
      <ng-template #showTopics>
        <button mat-flat-button (click)="toggleTopicListVisible()">
          Show
          <i class="material-icons">keyboard_arrow_down</i>
        </button>
      </ng-template>
    </span>
  </mat-card-title>

  <mat-card-content ngClass.lt-md="mat-card-content__sm" [class.hidden]="!showTopicList()">
    <div class="wrapper" *ngIf="subject">
      <div
        class="item"
        ngClass.lt-md="item__sm"
        [class.selected]="isSelected(t.topicId)"
        *ngFor="let t of subject.topics"
        (click)="selectTopic(t.topicId)">
        <span class="question-title">{{ t.subTopic }} - {{ t.title }}</span>
        <span class="question-counter">
          <span class="question-counter__number">{{ t.questions.length }}</span>
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>