.mat-card {
    margin-top: 5px;
    padding: 20px 20px 10px 20px;

    &__sm {
        padding: 5px auto;
    }

    .mat-card-title {
        font-size: 1.1em;
        font-weight: 300;
        margin-left: 0px !important;
    }
}

.mat-card-content {
    overflow: auto;
    height: 400px;

    &__sm {
        height: 140px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    color: #666;
    padding: 0;
    margin: 0;

    .item {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        flex-direction: row;
        padding: 6px 14px 6px 8px;
        margin: 3px 0;
        border-left: 2px solid #ddd;
        
        .question-title {
            flex: 1 1 auto;
            cursor: pointer;
            margin: 0 2px;
            align-items: center;
        }

        .question-counter {
            flex: 0 0 auto;
            padding: 0;
            margin: 0;

            &__number {
                background-color: #ddd;
                border-radius: 4px;
                padding: 1px 4px;
                margin: 0;
                font-size: 0.9em;
            }
        }
    }

    li:last-child {
        border-bottom: none;
    }
}

.selected {
    color: #000;
    border-left-color: #3f51b5 !important;
}