.navbar {
    max-width: 100%;
    position: fixed;
    top: 0;
    z-index: 800;
    display: flex;
    justify-content: center;
    background-color: #15354e;
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;

    &__inner {
        width: 900px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &--left,
        &--right {
            flex: 0 0 auto;

            p.welcome-back-msg {
                font-size: 0.7em;
                display: inline;
                margin-right: 8px;
            }
        }

        &--left {
            display: flex;
            direction: row;

            .title {
                margin-right: 40px;
                a {
                    font-size: 1.1em;
                    font-weight: 400;
                    text-decoration: none;
                    color: #fff;
                }
            }

            .buttons {
                flex: 0 0 auto;
                font-weight: 200;

                .mat-button {
                    font-weight: 200;
                }
            }
        }

        &--right {
            .accounts {
                .mat-stroked-button {
                    color: #fff;
                    font-weight: 200;
                }
            }

            .menu-icon {
                padding-top: 4px;
                margin-right: 20px;

                i {
                    cursor: pointer;
                }
            }
        }
    }
}

.mat-toolbar {
    min-height:64px;
    max-height:64px
}

::ng-deep .profile-menu {
    .mat-menu-item {
        line-height: 34px;
        height: 34px;

        i {
            font-size: 1.2em;
            vertical-align: middle;
            margin-top: -2px;
            margin-right: 6px;
        }

        span {
            font-size: 0.9em;
            margin-right: 20px;
        }
    }
    hr {
        border: 0.3px solid #ddd;
        margin: 6px 10px;
    }
}