<mat-toolbar class="navbar">
  <div class="navbar__inner">

    <div class="navbar__inner--left">
      <div class="title">
        <a routerLink="/">GroundSchool NZ</a>
      </div>

      <!-- Menu links: >= medium -->
      <div class="buttons" fxShow="true" fxHide.lt-md="true">
        <button mat-button [routerLink]="['/flashcards']">Flashcards</button>
        <button mat-button [routerLink]="['/about']">About</button>
        <button mat-button [routerLink]="['/contact']">Contact</button>
      </div>
    </div>

    <div class="navbar__inner--right">
      <!-- Account buttons: >= medium -->
      <div class="accounts" fxShow="true" fxHide.lt-md="true">
        <span *ngIf="currentUser; else loggedOut">
          <button mat-stroked-button (click)="signOutClick()">Sign Out</button>
        </span>
        <ng-template #loggedOut>
          <button mat-stroked-button (click)="registerClick()">Register</button>
          <button mat-stroked-button (click)="signInClick()">Sign In</button>
        </ng-template>
      </div>

      <!-- Menu icon: <= small -->
      <div class="menu-icon" fxShow="true" fxHide.gt-sm="true">
          <i class="material-icons">menu</i>
      </div>
    </div>

  </div>
</mat-toolbar>