<mat-toolbar class="navbar">
  <div class="navbar__inner">

    <div class="navbar__inner--left">
      <div class="title">
        <a routerLink="/">GroundSchool NZ</a>
      </div>
      <div class="buttons">
        <button mat-button [routerLink]="['/flashcards']">Flashcards</button>
        <button mat-button [routerLink]="['/about']">About</button>
        <button mat-button [routerLink]="['/contact']">Contact</button>
      </div>
    </div>

    <div class="navbar__inner--right">
      <div class="accounts">
        <span *ngIf="currentUser; else loggedOut">
          <button mat-stroked-button (click)="signOutClick()">Sign Out</button>
        </span>
        <ng-template #loggedOut>
          <button mat-stroked-button (click)="registerClick()">Register</button>
          <button mat-stroked-button (click)="signInClick()">Sign In</button>
        </ng-template>
      </div>
    </div>
  </div>
</mat-toolbar>