<mat-toolbar class="navbar">
  <div class="navbar__inner">

    <div class="navbar__inner--left">
      <div class="title">
        <a routerLink="/">GroundSchool NZ</a>
      </div>

      <!-- Menu links: >= medium -->
      <div class="buttons" fxShow="true" fxHide.lt-md="true">
        <button mat-button [routerLink]="['/']">Home</button>
        <button mat-button [routerLink]="['/contact']">Contact</button>
      </div>
    </div>

    <div class="navbar__inner--right">
      <!-- Account buttons: >= medium -->
      <div class="accounts" fxShow="true" fxHide.lt-md="true">
        <span *ngIf="currentUser; else loggedOut">
          <p class="welcome-back-msg">Signed in as {{ currentUser.Name }}</p>
          <button mat-icon-button [matMenuTriggerFor]="profileMenu">
            <i class="material-icons">account_circle</i>
          </button>

          <mat-menu
            #profileMenu="matMenu"
            [overlapTrigger]="false"
            xPosition="before"
            [class]="'profile-menu'">
            <button mat-menu-item (click)="goToDashboardClick()">
              <i class="material-icons">dns</i>
              <span>Dashboard</span>
            </button>
            <hr class="divider">
            <button mat-menu-item (click)="signOutClick()">
              <i class="material-icons">exit_to_app</i>
              <span>Sign out</span>
            </button>
          </mat-menu>

        </span>
        <ng-template #loggedOut>
          <button mat-stroked-button (click)="registerClick()">Register</button>
          <button mat-stroked-button (click)="signInClick()">Sign In</button>
        </ng-template>
      </div>

      <!-- Menu icon: <= small -->
      <div class="menu-icon" fxShow="true" fxHide.gt-sm="true">
          <i
            class="material-icons"
            (click)="showMenu()">menu</i>
      </div>
    </div>

  </div>
</mat-toolbar>