<div class="wrapper">
  <div class="content-wrapper">
      <h2>Thank you for your purchase.</h2>

      <p>
        Your payment has been successfully processed. Visit your <a routerLink="/dashboard">dashboard</a>
        to view the courses you own. If you need to get in touch for any reason, you can find our contact
        details on the <a routerLink="/contact">contact page</a>.
      </p>
      <p>
        Thanks for supporting GroundSchool NZ, and happy studying!
      </p>
  </div>
</div>