h3 {
    font-weight: 100;
    color: #36454f;
    font-size: 1.6em;
}

.form-row {
    padding: 6px 0;
}

.mat-form-field {
    width: 100%;
}

.mat-radio-button {
    display: block;
    padding: 6px 0;
}

.mat-card-actions {
    margin: 0 !important;
}