<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>Resources</app-page-title>
    </div>

    <div class="content">
      <!-- PPL Theory -->
      <mat-card>
        <mat-card-title>
          <h3 class="section-title">PPL Theory</h3>
        </mat-card-title>

        <mat-card-content>
            <h3>General</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.aviation.govt.nz/assets/rules/advisory-circulars/AC061_3.pdf" target="_blank">
                    Advisory Circular AC61-3 - Pilot License and Ratings - Private Pilot License
                  </a> - (CAA)
                </p>
                <p>
                  Official publication outlining PPL requirements, flight training and testing requirements,
                  and topics covered by each PPL exam.
                </p>
              </li>
            </ul>
            <h3>Air Law</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.aviation.govt.nz/assets/publications/posters/NZ-Airspace-poster.pdf" target="_blank">
                    New Zealand airspace poster
                  </a> - (CAA)
                </p>
                <p>
                  An overview of NZ airspace, including requirements for: radio equipment, clearances,
                  ATC separation and traffic info, speed limitations, and VFR minima. Includes special
                  use airspace.
                </p>
              </li>
            </ul>
            <h3>Air Tech</h3>
            <h3>Flight Radio</h3>
            <h3>Nav & Flight Planning</h3>
            <h3>Meteorology</h3>
            <ul>
                <li>
                  <p>
                    <a href="https://about.metservice.com/assets/downloads/aviation/Meteorology-for-PPL-Pilots-Edition-2-2019-13022019.pdf?utm_source=about&utm_medium=pdf&utm_campaign=ppl_pilots" target="_blank">
                      'VFR Met' GAP booklet
                    </a> - (CAA)
                  </p>
                  <p>
                    A comprehensive quick-reference booklet for NZ meteorology. Covers how to find and interpret
                    NZ weather products like GRAFORs, radar imagery, TAFs, METARs, and practical in-flight advice.
                  </p>
                </li>
              <li>
                <p>
                  <a href="https://about.metservice.com/assets/downloads/aviation/Meteorology-for-PPL-Pilots-Edition-2-2019-13022019.pdf?utm_source=about&utm_medium=pdf&utm_campaign=ppl_pilots" target="_blank">
                    Meteorology for PPL Pilots (edition 2)
                  </a> - (Metservice/Greg Reeve)
                </p>
                <p>
                  Free eBook produced by Metservice, with thorough coverage of all syllabus points in the PPL Meteorogoly exam.
                </p>
              </li>
            </ul>
        </mat-card-content>
      </mat-card>

      <!-- CPL Theory -->
      <mat-card>
        <mat-card-title>
          <h3 class="section-title">CPL Theory</h3>
        </mat-card-title>

        <mat-card-content>
          <h3>General</h3>
          <ul>
            <li>
              <p>
                <a href="https://www.aviation.govt.nz/assets/rules/advisory-circulars/AC061_5.pdf" target="_blank">
                  Advisory Circular AC61-5 - Pilot License and Ratings - Commercial Pilot License
                </a> - (CAA)
              </p>
              <p>
                Official publication outlining CPL requirements, flight training and testing requirements,
                and topics covered by each CPL exam.
              </p>
            </li>
          </ul>
          
          <h3>Air Law</h3>
          <h3>Air Tech</h3>
          <h3>Human Factors</h3>
          <h3>Meteorology</h3>
          <h3>Nav & Flight Planning</h3>
          <h3>Principles of Flight</h3>
        </mat-card-content>
      </mat-card>

      <!-- IR Theory -->
      <mat-card>
        <mat-card-title>
          <h3 class="section-title">IR Theory</h3>
        </mat-card-title>

        <mat-card-content>
          <h3>General</h3>
          <ul>
            <li>
              <p>
                <a href="https://www.aviation.govt.nz/assets/rules/advisory-circulars/AC061-17.pdf" target="_blank">
                  Advisory Circular AC61-17 - Pilot License and Ratings - Instrument Rating
                </a> - (CAA)
              </p>
              <p>
                Official publication outlining IR requirements, flight training and testing requirements,
                and topics covered by each IR exam.
              </p>
            </li>
          </ul>
          <h3>Air Law</h3>
          <h3>Instruments & Navaids</h3>
          <h3>Nav & Flight Planning</h3>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>