<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>Resources</app-page-title>
    </div>

    <div class="content">
      <!-- PPL Theory -->
      <mat-card>
        <mat-card-title>
          <h3 class="section-title">PPL Theory</h3>
        </mat-card-title>

        <mat-card-content>
            <h2>General</h2>
            <ul>
              <li>
                <p>
                  <a href="https://www.aviation.govt.nz/assets/rules/advisory-circulars/AC061_3.pdf" target="_blank">
                    Advisory Circular AC61-3 - Pilot License and Ratings - Private Pilot License
                  </a> - (CAA)
                </p>
                <p>
                  Official publication outlining PPL requirements, flight training and testing requirements,
                  and topics covered by each PPL exam.
                </p>
              </li>
            </ul>
            
            <br>

            <h2>Air Law</h2>
            <ul>
              <li>
                <p>
                  <a href="https://www.aviation.govt.nz/assets/publications/posters/NZ-Airspace-poster.pdf" target="_blank">
                    New Zealand airspace poster
                  </a> - (CAA)
                </p>
                <p>
                  An overview of NZ airspace, including requirements for: radio equipment, clearances,
                  ATC separation and traffic info, speed limitations, and VFR minima. Includes special
                  use airspace.
                </p>
              </li>
            </ul>

            <br>

            <h2>Air Tech</h2>

            <h2>Human Factors</h2>

            <h3>The SHELL Model</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/index.php/ICAO_SHELL_Model" target="_blank">
                    ICAO SHELL Model
                  </a> - (SKYbrary)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://en.wikipedia.org/wiki/SHELL_model" target="_blank">
                    SHELL Model
                  </a> - (Wikipedia)
                </p>
              </li>
            </ul>

            <h3>The Atmosphere</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.nationalgeographic.org/encyclopedia/atmospheric-pressure/" target="_blank">
                    Atmospheric pressure 
                  </a> - (National Geographic Encyclopedia)
                </p>
              </li>
            </ul>

            <h3>Respiratory System</h3>
            <ul>
              <li>
                <p>
                  <a href="https://healthengine.com.au/info/respiratory-system" target="_blank">
                    Respiratory system (pulmonary system) anatomy
                  </a> - (HealthEngine)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.stanfordchildrens.org/en/topic/default?id=anatomy-of-the-respiratory-system-in-children-90-P02950" target="_blank">
                    Anatomy of the Respiratory System in Children
                  </a> - (Stanford Children's Health)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.ck12.org/book/CBSE_Biology_Book_Class_XI/section/18.3/" target="_blank">
                    Mechanism of Breathing and Exchange of Gases
                  </a> - (CK-12.org)
                </p>
              </li>
            </ul>

            <h3>Circulatory System</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.healthline.com/health/artery-vs-vein" target="_blank">
                    Artery vs. Vein: What's the Difference?
                  </a> - (Healthline.com)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.webmd.com/heart/picture-of-the-aorta#1" target="_blank">
                    Picture of the Aorta
                  </a> - (WebMD)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://kidshealth.org/en/teens/heart.html" target="_blank">
                    Heart and Circulatory System
                  </a> - (KidHealth)
                </p>
              </li>
            </ul>

            <h3>Hypoxia</h3>
            <ul>
              <li>
                <p>
                  <a href="https://courses.kcumb.edu/physio/adaptations/hypoxia%20text.htm" target="_blank">
                    Forms of hypoxia
                  </a> - (Kansas City University)
                </p>
              </li>
              <li>
                  <p>
                    <a href="https://youtu.be/kUfF2MTnqAw" target="_blank">
                      Why you should put YOUR MASK on first (My Brain Without Oxygen)
                    </a> - (Smarter Every Day)
                  </p>
                </li>
            </ul>

            <h3>Hyperventilation</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.healthline.com/health/hyperventilation#when-to-see-a-doctor" target="_blank">
                    What to know about Hyperventilation: Causes and Treatments
                  </a> - (Healthline.com)
                </p>
              </li>
            </ul>

            <h3>Entrapped Gases (Barotrauma)</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.aviation-medical.com.au/flying/barotrauma/" target="_blank">
                    Barotrauma
                  </a> - (South East Aviation Medicals)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.health.harvard.edu/a_to_z/barotrauma-a-to-z" target="_blank">
                    Barotrauma
                  </a> - (Harvard Medical School)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/index.php/Middle_Ear_and_Sinus_Problems" target="_blank">
                    Middle Ear and Sinus Problems
                  </a> - (SKYbrary)
                </p>
              </li>
            </ul>

            <h3>Decompression Sickness</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.faa.gov/pilots/safety/pilotsafetybrochures/media/dcs.pdf" target="_blank">
                    Altitude-Induced Decompression Sickness
                  </a> - (FAA)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/index.php/Decompression_Sickness" target="_blank">
                    Decompression Sickness
                  </a> - (SKYbrary)
                </p>
              </li>
            </ul>

            <h3>Eye Structure</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.aao.org/eye-health/anatomy/photoreceptors" target="_blank">
                    Photoreceptors
                  </a> - (American Academy of Opthamology)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://biodifferences.com/difference-between-rods-and-cones.html" target="_blank">
                    Difference between rods and cones
                  </a> - (Bio Differences)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.msdmanuals.com/en-nz/home/eye-disorders/biology-of-the-eyes/structure-and-function-of-the-eyes" target="_blank">
                    Structure and function of the eyes
                  </a> - (MSD Manual)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.medicinenet.com/script/main/art.asp?articlekey=24120" target="_blank">
                    Medical Definition of Fovea
                  </a> - (MedicineNet)
                </p>
              </li>
              <li>
                <p>
                  <a href="http://hyperphysics.phy-astr.gsu.edu/hbase/vision/rodcone.html" target="_blank">
                    Rods and Cones
                  </a> - (Georgia State University HyperPhysics)
                </p>
              </li>
            </ul>

            <h3>Limitations of the Eye</h3>
            <ul>
              <li>
                <p>
                  <a href="https://bit.ly/3099FZG" target="_blank">
                    Glare Susceptibility
                  </a> - (Aviation Visual Perception)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://faculty.washington.edu/chudler/chvision.html" target="_blank">
                    Blind spot examples
                  </a> - (University of Washington)
                </p>
              </li>
            </ul>

            <h3>Night Adaptation</h3>
            <ul>
              <li>
                <p>
                  <a href="https://health.howstuffworks.com/human-body/systems/eye/eyes-adjust-darkness.htm" target="_blank">
                    Why does it take my eyes several minutes to adjust to darkness?
                  </a> - (HowStuffWorks)
                </p>
              </li>
              <li>
                <p>
                  <a href="http://theconversation.com/curious-kids-how-do-my-eyes-adjust-to-the-dark-and-how-long-does-it-take-124044" target="_blank">
                    How do my eyes adjust to the dark and how long does it take?
                  </a> - The Conversation
                </p>
              </li>
              <li>
                <p>
                  <a href="https://coopervision.com/blog/how-eyes-see-night" target="_blank">
                    How eyes see at night
                  </a> - CooperVision
                </p>
              </li>
            </ul>

            <h3>Sunglasses</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.faa.gov/pilots/safety/pilotsafetybrochures/media/sunglasses.pdf" target="_blank">
                    Sunglasses for pilots
                  </a> - (FAA)
                </p>
              </li>
            </ul>

            <h3>Empty Field Myopia</h3>
            <ul>
              <li>
                <p>
                  <a href="https://youtu.be/va3MuZcjwQk" target="_blank">
                    Empty Field Myopia (video)
                  </a> - (SkyTrikeFlier)
                </p>
              </li>
            </ul>

            <h3>Visual Illusions</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.britannica.com/science/autokinetic-effect" target="_blank">
                    Autokinetic effect
                  </a> - (Encyclopedia Britannica)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/index.php/Autokinetic_Effect" target="_blank">
                    Autokinetic effect
                  </a> - (SKYbrary)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://flightsafety.org/hf/hf_mar-apr04.pdf" target="_blank">
                    Flicker vertigo
                  </a> - (Flight Safety Foundation)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://iflyamerica.org/flicker-vertigo.asp" target="_blank">
                    Flicker vertigo - Know it to avoid it
                  </a> - (I Fly America)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.gwern.net/docs/psychology/1965-sours.pdf" target="_blank">
                    The "Break-Off" Phenomenon - A Precipitant of Anxiety in Jet Aviators
                  </a> - (John A. Sours)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/index.php/Night_Visual_Approaches" target="_blank">
                    Night visual approaches
                  </a> - (SKYbrary)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.aopa.org/training-and-safety/air-safety-institute/accident-analysis/featured-accidents/epilot-asf-accident-reports-black-hole-approach" target="_blank">
                    Black Hole Approach
                  </a> - (AOPA)
                </p>
              </li>       
            </ul>

            <h3>False Horizons</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.cfinotebook.net/notebook/aeromedical-and-human-factors/illusions-in-flight" target="_blank">
                    Illusions in Flight
                  </a> - (CFI Notebook)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.boldmethod.com/blog/lists/2018/08/nine-ways-to-avoid-the-dangers-of-night-flight/" target="_blank">
                    9 Ways to Avoid the Dangers of Night Flight
                  </a> - (Boldmethod)
                </p>
              </li>
            </ul>

            <h3>Relative Motion</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.ibiblio.org/hyperwar/USN/ref/RADEIGHTA/RADEIGHTA-2.html" target="_blank">
                    Relative Motion
                  </a> - (Navy Aircraft Control Manual)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://apps.dtic.mil/dtic/tr/fulltext/u2/767203.pdf" target="_blank">
                    Optical Factors in Aircraft Windshield Design as related to Pilot Visual Performance
                  </a> - (Walter F. Grether)
                </p>
              </li>
            </ul>

            <h3>Runway Illusions</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/bookshelf/books/812.pdf" target="_blank">
                    Visual Illusions
                  </a> - (Flight Safety Foundation)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.flightliteracy.com/normal-approach-and-landing-part-six-stabilized-approach-concept/" target="_blank">
                    Normal Approach and Landing - Stabilized Approach Concept
                  </a> - (Flight Literacy)
                </p>
              </li>
              <li>
                <p>
                  <a href="http://www.pilotfriend.com/aeromed/medical/app_landing.htm" target="_blank">
                    Illusions During the Approach and Landing
                  </a> - (PilotFriend / Dr. Dougal Watson)
                </p>
              </li>
              <li>
                <p>
                  <a href="http://www.soundsaero.co.nz/pdf/Airstrips101%20-%20Stab%20Approach.pdf" target="_blank">
                    Airstrip Flying 101 - Mastering the Stabilised Approach
                  </a> - (Craig Anderson)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://schaeferflight.com/index.php/2018/05/20/runway-width-illusion/" target="_blank">
                    Runway Width Illusion
                  </a> - (Schaefer Flight)
                </p>
              </li>
            </ul>

            <h3>Ear: Anatomy and Physiology</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.hearinglink.org/your-hearing/about-hearing/how-the-ear-works/" target="_blank">
                    How the Ear Works
                  </a> - (HearingLink)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://kidshealth.org/en/kids/ears.html" target="_blank">
                    Your Ears
                  </a> - (KidsHealth)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://healthengine.com.au/info/ear" target="_blank">
                    Ear Anatomy
                  </a> - (HealthEngine)
                </p>
              </li>
            </ul>
            
            <h3>Noise and Hearing Protection</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.faa.gov/pilots/safety/pilotsafetybrochures/media/hearing.pdf" target="_blank">
                    Hearing and Noise in Aviation
                  </a> - (FAA)
                </p>
              </li>
            </ul>

            <h3>Presbycusis</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.nidcd.nih.gov/sites/default/files/Content%20Images/presbycusis.pdf" target="_blank">
                    Presbycusis
                  </a> - (National Institute of Health)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/presbycusis" target="_blank">
                    Age-Related Hearing Loss (Presbycusis)
                  </a> - (John Hopkins Medicine)
                </p>
              </li>
            </ul>

            <h3>Eustachian Tube</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.healthline.com/human-body-maps/eustachian-tube" target="_blank">
                    Eustachian Tube Function, and Diagram
                  </a> - (Healthline)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://familydoctor.org/condition/eustachian-tube-dysfunction/" target="_blank">
                    Eustachian Tube Dysfunction
                  </a> - (FamilyDoctor)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.verywellhealth.com/valsalva-maneuver-1746152" target="_blank">
                    How the Valsalva Maneuver Works and the Vagus Nerve
                  </a> - (Verywell Health)
                </p>
              </li>
            </ul>

            <h3>Spatial Orientation</h3>
            <ul>
              <li>
                <p>
                  <a href="https://www.skybrary.aero/index.php/Spatial_Disorientation" target="_blank">
                    Spatial Disorientation
                  </a> - (SKYbrary)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.faa.gov/pilots/safety/pilotsafetybrochures/media/spatiald.pdf" target="_blank">
                    Spatial Disorientation
                  </a> - (FAA)
                </p>
              </li>
              <li>
                <p>
                  <a href="https://www.verywellhealth.com/valsalva-maneuver-1746152" target="_blank">
                    How the Valsalva Maneuver Works and the Vagus Nerve
                  </a> - (Verywell Health)
                </p>
              </li>
            </ul>

            <h3>Balance Organs</h3>
            <ul>
              <li>
                <p>
                  <a href="https://psych.athabascau.ca/html/Psych402/Biotutorials/25/canals.shtml" target="_blank">
                    Semicircular Canals
                  </a> - (Athabasca University)
                </p>
              </li>
              <li>
                <p>
                  <a href="http://www.dizziness-and-balance.com/disorders/bppv/otoliths.html" target="_blank">
                    Dizziness and Balance
                  </a> - (Otoliths)
                </p>
              </li>
            </ul>

            <br>

            <h2>Flight Radio</h2>
            <h2>Nav & Flight Planning</h2>
            <h2>Meteorology</h2>
            <ul>
                <li>
                  <p>
                    <a href="https://about.metservice.com/assets/downloads/aviation/Meteorology-for-PPL-Pilots-Edition-2-2019-13022019.pdf?utm_source=about&utm_medium=pdf&utm_campaign=ppl_pilots" target="_blank">
                      'VFR Met' GAP booklet
                    </a> - (CAA)
                  </p>
                  <p>
                    A comprehensive quick-reference booklet for NZ meteorology. Covers how to find and interpret
                    NZ weather products like GRAFORs, radar imagery, TAFs, METARs, and practical in-flight advice.
                  </p>
                </li>
              <li>
                <p>
                  <a href="https://about.metservice.com/assets/downloads/aviation/Meteorology-for-PPL-Pilots-Edition-2-2019-13022019.pdf?utm_source=about&utm_medium=pdf&utm_campaign=ppl_pilots" target="_blank">
                    Meteorology for PPL Pilots (edition 2)
                  </a> - (Metservice/Greg Reeve)
                </p>
                <p>
                  Free eBook produced by Metservice, with thorough coverage of all syllabus points in the PPL Meteorogoly exam.
                </p>
              </li>
            </ul>
        </mat-card-content>
      </mat-card>

      <!-- CPL Theory -->
      <mat-card>
        <mat-card-title>
          <h3 class="section-title">CPL Theory</h3>
        </mat-card-title>

        <mat-card-content>
          <h2>General</h2>
          <ul>
            <li>
              <p>
                <a href="https://www.aviation.govt.nz/assets/rules/advisory-circulars/AC061_5.pdf" target="_blank">
                  Advisory Circular AC61-5 - Pilot License and Ratings - Commercial Pilot License
                </a> - (CAA)
              </p>
              <p>
                Official publication outlining CPL requirements, flight training and testing requirements,
                and topics covered by each CPL exam.
              </p>
            </li>
          </ul>
          
          <h2>Air Law</h2>
          <h2>Air Tech</h2>
          <h2>Human Factors</h2>
          <h2>Meteorology</h2>
          <h2>Nav & Flight Planning</h2>
          <h2>Principles of Flight</h2>
        </mat-card-content>
      </mat-card>

      <!-- IR Theory -->
      <mat-card>
        <mat-card-title>
          <h2 class="section-title">IR Theory</h2>
        </mat-card-title>

        <mat-card-content>
          <h2>General</h2>
          <ul>
            <li>
              <p>
                <a href="https://www.aviation.govt.nz/assets/rules/advisory-circulars/AC061-17.pdf" target="_blank">
                  Advisory Circular AC61-17 - Pilot License and Ratings - Instrument Rating
                </a> - (CAA)
              </p>
              <p>
                Official publication outlining IR requirements, flight training and testing requirements,
                and topics covered by each IR exam.
              </p>
            </li>
          </ul>
          <h2>Air Law</h2>
          <h2>Instruments & Navaids</h2>
          <h2>Nav & Flight Planning</h2>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>