.question-selector {
    width: 95%;
    padding-bottom: 0;
    padding-left: 0;

    &__topic {
        width: 40%;
    }

    &__question-set {
        width: 40%;
    }
}

.mat-card {
    padding-right: 0px;
}

.mat-form-field {
    margin-left: 30px;
}