.login-container {
    padding: 20px 40px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.error-msg {
    padding: 0px 0 14px 0;
    color: #f44336;
}

.forgot-password, .create-account {
    display: block;
    padding-bottom: 10px;
}

.forgot-password {
    font-size: 0.8em;
}

.mat-card-footer {
    margin-bottom: 10px;
}
