<div class="wrapper">
    <div class="content-wrapper">
      <div class="title">
        <app-page-title>Contact</app-page-title>
      </div>
  
      <div class="content">

      <mat-card>
        <h2>Email</h2>
        <div class="description">
          <p>
            The quickest way to get in touch for support, suggestions, or feature requests
            is either via email at <a href="mailto:info@groundschool.co.nz">info@groundschool.co.nz</a>,
            or via our <a href="https://www.facebook.com/groundschoolnz" target="_blank">Facebook page</a>.
            We aim to respond faster than a C-Cat can say "more right rudder", normally within 24 hours
            at the latest.
          </p>
        </div>
  

        <h2>Social Media</h2>
        <div class="description">
          <p>
            Join GroundSchool NZ on <a href="https://www.facebook.com/groundschool.co.nz/" target="_blank">
            Facebook</a> and <a href="https://www.instagram.com/groundschoolnz" target="_blank">Instagram</a>
            to keep on top of website updates, see relevant aviation content from NZ and abroad, and connect
            with other Kiwi pilots.
          </p>
          <div class="social-row">
            <img
              src="/assets/images/contact/facebook-58x58.png"
              alt="facebook.com/groundschoolnz"
              class="social-row__logo">
            <h3>
              Facebook - 
              <a href="https://www.facebook.com/groundschoolnz" target="_blank">@groundschoolnz</a>
            </h3>
          </div>
          <div class="social-row">
            <img
              src="/assets/images/contact/instagram-58x58.png"
              alt="instagram.com/groundschoolnz"
              class="social-row__logo">
            <h3>
              Instagram -
              <a href="https://www.instagram.com/groundschoolnz" target="_blank">@groundschoolnz</a>
            </h3>
          </div>
        </div>
      </mat-card>
      </div>
  </div>
  