.wrapper {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;

    .content-wrapper {
        max-width: 900px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
}

.cockpit {
    position: relative;
    background-image: url('/assets/images/checklist-helper/iaanz-pa28-161.png');
    width: 900px;
    height: 600px;

    .click-region {
        position: absolute;
        cursor: pointer;
        background-color: rgba(255, 216, 58, 0.2);
    }

    .label {
        color: #333;
        font-family: 'Roboto Condensed', sans-serif;
        padding-top: 14px;
        text-align: center;
    }

    .click-region:hover {
        background-color: rgba(255, 216, 58, 0.6);
    }

    .ahrs {
        @extend .click-region;
        left: 165px; top: 170px; width: 177px; height: 131px;
    }

    .brakes {
        @extend .click-region;
        left: 193px; top: 476px; width: 198px; height: 43px;
    }

    .briefings {
        @extend .click-region;
        @extend .label;
        left: 565px; top: 14px; width: 140px; height: 30px;
    }

    .carb-heat {
        @extend .click-region;
        left: 554px; top: 410px; width: 13px; height: 44px;
    }

    .cbs {
        @extend .click-region;
        left: 761px; top: 349px; width: 65px; height: 94px;
    }

    .controls {
        @extend .click-region;
        left: 159px; top: 379px; width: 83px; height: 109px;
    }

    .electrical {
        @extend .click-region;
        left: 656px; top: 215px; width: 42px; height: 42px;
    }

    .flight-controls {
        @extend .click-region;
        left: 554px; top: 410px; width: 13px; height: 44px;
    }

    .flaps {
        @extend .click-region;
        left: 429px; top: 540px; width: 25px; height: 60px;
    }

    .fuel-cock {
        @extend .click-region;
        left: 79px; top: 533px; width: 63px; height: 67px;
    }

    .fuel-pressure {
        @extend .click-region;
        left: 656px; top: 262px; width: 42px; height: 30px;
    }

    .fuel-pump {
        @extend .click-region;
        left: 442px; top: 325px; width: 16px; height: 31px;
    }

    .landing-light {
        @extend .click-region;
        left: 404px; top: 359px; width: 16px; height: 27px;
    }

    .mags {
        @extend .click-region;
        left: 84px; top: 446px; width: 30px; height: 30px;
    }

    .master-alt {
        @extend .click-region;
        left: 382px; top: 325px; width: 39px; height: 31px;
    }

    .misc {
        @extend .click-region;
        @extend .label;
        left: 710px; top: 14px; width: 140px; height: 30px;
    }

    .mixture {
        @extend .click-region;
        left: 505px; top: 414px; width: 30px; height: 33px;
    }

    .nav-lights {
        @extend .click-region;
        left: 385px; top: 359px; width: 16px; height: 27px;
    }

    .oil-pressure {
        @extend .click-region;
        left: 705px; top: 170px; width: 35px; height: 35px;
    }

    .oil-temp {
        @extend .click-region;
        left: 665px; top: 170px; width: 35px; height: 35px;
    }

    .park-brake {
        @extend .click-region;
        left: 396px; top: 480px; width: 29px; height: 105px;
    }

    .primer {
        @extend .click-region;
        left: 84px; top: 411px; width: 30px; height: 30px;
    }

    .ptt {
        @extend .click-region;
        left: 92px; top: 312px; width: 34px; height: 31px;
    }

    .radio {
        @extend .click-region;
        left: 376px; top: 172px; width: 142px; height: 63px;
    }

    .radio-master {
        @extend .click-region;
        left: 460px; top: 325px; width: 16px; height: 31px;
    }

    .spidertrack {
        @extend .click-region;
        left: 559px; top: 336px; width: 77px; height: 38px;
    }

    .standby-alt {
        @extend .click-region;
        left: 422px; top: 325px; width: 16px; height: 31px;
    }

    .strobe-lights {
        @extend .click-region;
        left: 442px; top: 359px; width: 16px; height: 27px;
    }

    .throttle {
        @extend .click-region;
        left: 446px; top: 420px; width: 56px; height: 32px;
    }

    .transponder {
        @extend .click-region;
        left: 582px; top: 425px; width: 133px; height: 37px;
    }

    .trim {
        @extend .click-region;
        left: 459px; top: 540px; width: 25px; height: 60px;
    }
}

.output {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    padding-top: 10px;

    &__actual {
        flex: 0 0 50%;

        .match {
            color: #080;
        }
    
        .no-match {
            color: #800;
        }
    }

    &__expected {
        flex: 0 0 50%;
    }
}