.wrapper {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Roboto Condensed', sans-serif;

    .content-wrapper {
        max-width: 900px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
}

.output {
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    padding-top: 10px;

    &__actual {
        flex: 0 0 50%;

        .match {
            color: #080;
        }
    
        .no-match {
            color: #800;
        }
    }

    &__expected {
        flex: 0 0 50%;
    }
}