<div class="title-container">
    <div class="title-container__title">
        <h2>{{ course }} - {{ topic }}</h2>
    </div>
    
    <div class="title-container__menu-icon">
        <button mat-raised-button (click)="toggleSidenav()" *ngIf="menuButtonVisible">
            <i class="material-icons">menu</i> Menu
        </button>

        <div class="title-container__account" *ngIf="accountSectionVisible">
            <div *ngIf="currentUser; else loggedOut">
                Logged in
            </div>
            <ng-template #loggedOut>
                <button mat-stroked-button (click)="onSignUpClicked()">Sign up</button>
                <button mat-flat-button (click)="onLoginClicked()">Log in</button>
            </ng-template>
        </div>
    </div>
</div>