.title-container {
    width: 95%;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 40px;
    display: flex;

    &__title {
        text-align: left;
        vertical-align: middle;
        margin-top: 6px;
    }

    &__menu-icon {
        margin-left: auto;
        margin-right: 20px;
        justify-content: space-between;

        .mat-raised-button, .mat-flat-button {
            background-color: #869f9d;
            color: #fff;
            font-weight: 200;
        }

        .mat-stroked-button {
            color: #333;
        }

        i {
            font-size: 1.2em;
        }
    }

    h2 {
        font-weight: 100;
        color: #36454f;
        font-size: 1.6em;;
    }
}

