.wrapper {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    padding-top: 30px;
  
    .content-wrapper {
        max-width: 400px;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
}

.mat-card {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: none !important;
}

.login-container {
    padding: 20px 40px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.error-msg {
    padding: 0px 0 14px 0;
    color: #f44336;
}

.forgot-password, .create-account {
    display: block;
    padding-bottom: 10px;
}

.forgot-password {
    font-size: 0.8em;
}

.mat-card-footer {
    margin-bottom: 10px;
}
