<div class="paginator__container">
    <div class="paginator__container--inner">
        Viewing questions {{ currentStartIndex+1 }} - {{ currentEndIndex }} of {{ totalQuestionCount }}
        <button mat-button (click)="goToPreviousPage()" class="paginator__button" [disabled]="!canGoPrevious()"><<</button>
        <button mat-button (click)="goToNextPage()" class="paginator__button" [disabled]="!canGoNext()">>></button>
    </div>
</div>

<div class="question-set__container">
    <div *ngIf="currentPageHasQuestions(); else noQuestions">
        <app-question *ngFor="let question of currentPage" [question]="question">
        </app-question>
    </div>
        
    <ng-template #noQuestions>
        <p class="question-set__container--no-questions" *ngIf="questionSet === undefined">Loading...</p>
        <p class="question-set__container--no-questions" *ngIf="questionSet !== undefined">
            Sorry, no questions found for '{{ questionSet.title }}'.
        </p>
    </ng-template>
</div>

<div class="paginator__container">
    <div class="paginator__container--inner">
        Viewing questions {{ currentStartIndex+1 }} - {{ currentEndIndex }} of {{ totalQuestionCount }}
        <button mat-button (click)="goToPreviousPage()" class="paginator__button" [disabled]="!canGoPrevious()"><<</button>
        <button mat-button (click)="goToNextPage()" class="paginator__button" [disabled]="!canGoNext()">>></button>
    </div>
</div>
