.sidenav {
    &__logo {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    &__content {
        width: 240px;
        margin: 20px 0 0 20px;

        h2 {
            font-weight: 100;
            border-bottom: 1px solid #eee;
            margin-right: 20px;
        }

        h4 {
            margin: 0;
            padding-bottom: 10px;
        }

        &--topic {
            color: #333;
            padding: 0;
            margin: 0;
            cursor: pointer;
            line-height: 2em;
            font-size: 0.9em;
        }
    }
}

.material-icons {
    vertical-align: middle;
}

// .menu-expansion-panel {
//     width: 95%;
//     margin: 0 20px 0 0;
//     background-color: #fff;
// }

// .menu-expansion-panel-header {
//     padding: 10px;
//     margin: 0;
// }

// .mat-list-item {
//     font-size: 0.9em;
// }

// .mat-expansion-panel {

//     -webkit-box-shadow: none !important;
// 	-moz-box-shadow: none !important;
//     box-shadow: none !important;
    
//     i {
//         padding-right: 16px;
//         font-size: 1.3em;
//     }

//     .mat-expansion-panel-header {
//         color: #fff;
//         background-color: #6b7a8f;
//         font-weight: 200;

//         &:hover {
//             background-color: #576272;
//         }
//     }
//     ::ng-deep .mat-expansion-indicator:after {
//       color: white;
//     }
// }

// .mat-nav-list {
//     .mat-list-item {
//         font-size: 0.9em;
//         height: 30px;
//     }
// }