<div class="sidenav">
  <div role="logo" class="sidenav__logo">
    <img src="/assets/images/sidenav/logo.png" alt="GroundSchool NZ">
  </div>

  <div class="sidenav__content" role="navigation">
    <p class="first">
      <a routerLink="/">
        <i class="material-icons">home</i> Home
      </a>
    </p>
    <p>
      <a routerLink="/articles">
        <i class="material-icons">description</i> Articles
      </a>
    </p>
    <p>
      <a routerLink="/resources">
        <i class="material-icons">bookmark</i> Resources
      </a>
    </p>
    <p>
      <a routerLink="/contact">
        <i class="material-icons">chat</i> Contact
      </a>
    </p>

    <h2>Accounts</h2>
    <span *ngIf="currentUser; else loggedOut">
      <p class="first">
        <a routerLink="/dashboard">
          <i class="material-icons">dns</i> Dashboard
        </a>
      </p>
      <p>
        <a (click)="signOutClick()">
          <i class="material-icons">exit_to_app</i> Sign out
        </a>
      </p>
    </span>
    <ng-template #loggedOut>
      <p class="first">
        <a (click)="registerClick()">
          <i class="material-icons">person_add</i> Register
        </a>
      </p>
      <p>
        <a (click)="signInClick()">
          <i class="material-icons">forward</i> Sign in
        </a>
      </p>
    </ng-template>
  </div>
</div>