<div role="logo" class="sidenav__logo">
  <img src="/assets/images/sidenav/logo.png" alt="GroundSchool NZ">
</div>

<div class="sidenav__content" role="navigation">
  <h2>Courses</h2>

  <span *ngFor="let course of courses">
    <h4>{{ course.title }}</h4>

    <span
      *ngFor="let topic of sortTopics(course.topics)"
      (click)="topicSelected(course, topic)">
      <p class="sidenav__content--topic">
        <!-- <i class="material-icons">control_point</i> -->
        {{ topic.title }}
      </p>
    </span>
  </span>


  <!-- <mat-expansion-panel
    *ngFor="let course of courses"
    class="mat-elevation-z0 menu-expansion-panel"
    [expanded]="true">

      <mat-expansion-panel-header
        class="menu-expansion-panel-header"
        [expandedHeight]="'20px'"
        [collapsedHeight]="'20px'"
        style="padding: 0; margin: 0;">
          {{ course.title }}
      </mat-expansion-panel-header>

      <span *ngIf="courses">
        <a mat-list-item *ngFor="let topic of sortTopics(course.topics)" (click)="topicSelected(course, topic)">
          {{ topic.title }}
        </a>
      </span>

  </mat-expansion-panel> -->

</div>