<div ngClass.lt-md="container-sm" ngClass.gt-sm="container">
    <div class="menu" *ngIf="!isFreeMode()">
        <app-flashcards-menu
            [subject]="subject"
            [selectedTopicId]="currentTopicId"
            (topicSelected)="onMenuTopicSelected($event)">
        </app-flashcards-menu>
    </div>
    <div class="viewer">

        <!-- In progress screen -->
        <div *ngIf="isInProgress(); else results">
            <div *ngIf="isFree() || isPremiumAndTopicHasQuestions(); else topicHasNoQuestions">

                <!-- Header nav buttons -->
                <div class="nav-buttons">
                    <!-- Go to previous question -->
                    <button mat-flat-button
                        (click)="goToPreviousQuestion()"
                        [disabled]="!canGoToPreviousQuestion()">
                        <span fxShow="false" fxShow.gt-sm="true">< Previous</span>
                        <span fxShow="false" fxShow.xs="true" fxShow.sm="true">
                            <i class="material-icons">fast_rewind</i>
                        </span>
                    </button>

                    <!-- Save to review set -->
                    <span *ngIf="!_reviewSetUpdatePending; else reviewsetupdatepending">
                        <span *ngIf="!isCurrentQuestionInReviewSet(); else saved">
                            <button mat-flat-button (click)="addToReviewSet()" [color]="'review'">
                                <i class="material-icons">playlist_add</i>Review
                            </button>
                        </span>
                        <ng-template #saved>
                            <button mat-flat-button (click)="removeFromReviewSet()" [color]="'review__saved'">
                                <i class="material-icons">playlist_add_check</i>Saved
                            </button>
                        </ng-template>
                    </span>
                    <ng-template #reviewsetupdatepending>
                        <button mat-flat-button [color]="'review'" disabled>
                            <mat-spinner diameter="20"></mat-spinner>
                        </button>
                    </ng-template>

                    <!-- Go to next question -->
                    <button
                        mat-flat-button
                        (click)="goToNextQuestion()"
                        [disabled]="isQuestionLoading">
                        <span *ngIf="isQuestionLoading; else nextButton" class="spinner">
                            <mat-spinner diameter="20"></mat-spinner>
                        </span>
                        <ng-template #nextButton>
                            <span *ngIf="canGoToNextQuestion(); else finish">
                                <span fxShow="false" fxShow.gt-sm="true">Next ></span>
                                <span fxShow="false" fxShow.xs="true" fxShow.sm="true">
                                    <i class="material-icons">fast_forward</i>
                                </span>
                            </span>
                            <ng-template #finish>Finish ></ng-template>
                        </ng-template>
                    </button>
                </div>
                <div class="progress-bar">
                    <mat-progress-bar
                        [mode]="determinate"
                        [value]="progress">
                    </mat-progress-bar>
                </div>

                <app-flashcards-card
                    [flashcardViewerQuestion]="questions[currentQuestionIndex]"
                    [questionNumber]="currentQuestionIndex+1"
                    [numberOfQuestions]="getNumberOfQuestions()"
                    [isQuestionLoading]="isQuestionLoading">
                </app-flashcards-card>
            
                <!-- Footer nav buttons -->
                <div class="nav-buttons">
                    <!-- Go to previous question -->
                    <button mat-flat-button
                        (click)="goToPreviousQuestion()"
                        [disabled]="!canGoToPreviousQuestion()">
                        <span fxShow="false" fxShow.gt-sm="true">< Previous</span>
                        <span fxShow="false" fxShow.xs="true" fxShow.sm="true">
                            <i class="material-icons">fast_rewind</i>
                        </span>
                    </button>

                    <!-- Save to review set -->
                    <span *ngIf="!_reviewSetUpdatePending; else reviewsetupdatepending">
                        <span *ngIf="!isCurrentQuestionInReviewSet(); else saved">
                            <button mat-flat-button (click)="addToReviewSet()" [color]="'review'">
                                <i class="material-icons">playlist_add</i>Review
                            </button>
                        </span>
                        <ng-template #saved>
                            <button mat-flat-button (click)="removeFromReviewSet()" [color]="'review__saved'">
                                <i class="material-icons">playlist_add_check</i>Saved
                            </button>
                        </ng-template>
                    </span>
                    <ng-template #reviewsetupdatepending>
                        <button mat-flat-button [color]="'review'">
                            <mat-spinner diameter="20"></mat-spinner>
                        </button>
                    </ng-template>

                    <!-- Go to next question -->
                    <button
                        mat-flat-button
                        (click)="goToNextQuestion()"
                        [disabled]="isQuestionLoading">
                        <span *ngIf="isQuestionLoading; else nextButton" class="spinner">
                            <mat-spinner diameter="20"></mat-spinner>
                        </span>
                        <ng-template #nextButton>
                            <span *ngIf="canGoToNextQuestion(); else finish">
                                <span fxShow="false" fxShow.gt-sm="true">Next ></span>
                                <span fxShow="false" fxShow.xs="true" fxShow.sm="true">
                                    <i class="material-icons">fast_forward</i>
                                </span>
                            </span>
                            <ng-template #finish>Finish ></ng-template>
                        </ng-template>
                    </button>
                </div>
            </div>

            <!-- No questions for this topic (shouldn't happen, but show a useful message just in case) -->
            <ng-template #topicHasNoQuestions>
                <mat-card class="no-questions">
                    <h2>{{ getCurrentTopic().SubTopic }} - {{ getCurrentTopic().Title }}</h2>
                    <p>
                        Sorry, this topic doesn't have any questions yet.
                    </p>
                    <p>
                        We're working hard to add new questions as often as possible. For updates, follow
                        <a href="https://www.facebook.com/groundschoolnz" target="_blank">
                        GroundSchool NZ on Facebook</a>.
                    </p>
                    <button
                        mat-flat-button (click)="goToNextTopic()"
                        [disabled]="!canGoToNextTopic()">
                        Go to next topic >
                    </button>
                    <!-- TODO: this should be a 'finish' button for the last topic -->
                </mat-card>
            </ng-template>
        </div>
        
        <!-- Results screen -->
        <ng-template #results>
            <mat-card class="results">
                <!-- Free mode: show final screen -->
                <div *ngIf="isFreeMode(); else reviewQuestions">
                    <h2>Flashcard set complete</h2>
                    <p>
                        <button mat-flat-button (click)="goToCourseIndex()">
                            <i class="material-icons">subject</i> Course Index
                        </button>
                        <button mat-flat-button (click)="restartFree()" style="margin-bottom: 8px;">
                            <i class="material-icons">refresh</i>
                            <span fxShow="false" fxShow.gt-sm="true">Go again</span>
                            <span fxShow="false" fxShow.xs="true" fxShow.sm="true">Go again</span>
                        </button>
                    </p>
                    <div class="no-review-questions">
                        <!-- Go you! Here, have a random video -->
                        <!-- TODO: get this working... -->
                        <!-- <iframe
                            width="560"
                            height="315"
                            [src]="getRandomVideoUrl()"
                            frameborder="0"
                            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe> -->
                    </div>
                </div>

                <!-- Premium mode: show any saved review questions for this topic -->
                <ng-template #reviewQuestions>
                    <h2 class="review-questions">Review questions</h2>
                    <app-review-questions
                        [reviewSet]="getReviewSetForCurrentTopic()"
                        [showActionButtons]="false"
                        [userId]="currentUser.MemberId">
                    </app-review-questions>
            
                    <div class="nav-buttons">
                        <button mat-flat-button (click)="reloadTopic()" style="margin-bottom: 8px;">
                            <i class="material-icons">refresh</i>
                            <span fxShow="false" fxShow.gt-sm="true">Redo topic</span>
                            <span fxShow="false" fxShow.xs="true" fxShow.sm="true">Redo</span>
                        </button>
                        <button
                            mat-flat-button (click)="goToNextTopic()" *ngIf="canGoToNextTopic()">
                            <span fxShow="false" fxShow.gt-sm="true">Next topic ></span>
                            <span fxShow="false" fxShow.xs="true" fxShow.sm="true">Next </span>
                        </button>
                        <button mat-flat-button (click)="goToCourseIndex()">
                            <i class="material-icons">subject</i> Course Index
                        </button>
                    </div>
                </ng-template>
            </mat-card>
        </ng-template>
    </div>
</div>

