i.material-icons {
    font-size: 1.4em;
    vertical-align: middle;
    margin: -4px 4px 0 0;

}

.container-sm {
    display: flex;
    flex-direction: column;

    .menu {
        flex: 0 0 auto;
        margin-bottom: 14px;
    }

    .viewer {
        flex: 1 1 auto;
    }
}

.container {
    display: flex;
    flex-direction: row;

    .menu {
        flex: 0 0 300px;
        margin-right: 10px;
    }

    .viewer {
        flex: 1 1 auto;
    }
}

.mat-progress-spinner .mat-spinner circle {
    stroke: #fff;
}

.nav-buttons {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    
    .mat-flat-button {
        margin: 0 6px;
        font-weight: 100;

        &--sm {
            @extend .mat-flat-button;
            margin: 0;
        }

        .mat-progress-spinner { 
            display: inline-block;
            vertical-align: top;
            margin-top: 7px;
        }

        .spinner ::ng-deep .mat-spinner circle { 
            stroke: #fff;
        }
    }

    .mat-review {
        background-color: #999 !important;
        color: #fff;

        &__saved {
            @extend .mat-review;
            background-color: #ff8200 !important;
        }
    }

    .review-counter {
        font-size: 0.8em;
        padding: 3px 8px 2px 8px;
        margin-right: 8px;
        background-color: #666;
        border-radius: 10%;

        &__saved {
            @extend .review-counter;
            background-color: #e05301 !important;
        }
    }
}

.review-questions {
    display: flex;
    flex-direction: row;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 10px;

    &__icon {
        display: flex;
        flex: 0 0 30px;
        align-self: center;

        i {
            font-size: 1.4em;
            vertical-align: middle;
            margin-top: -4px;
            color: #060;
        }
    }

    &__text {
        display: flex;
        flex: 0 1 auto;
        font-size: 0.9em;

        p {
            margin: 0;
        }
    }
}

.no-questions {
    p {
        margin: 20px 0;
        line-height: 1.5em;
    }

    .mat-flat-button {
        font-weight: 100;
    }
}