.mat-card {
    max-width: 200px;
    padding-top: 12px;
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.12) !important;
    cursor: pointer;
}

.mat-card-header {
    justify-content: center;
    padding-bottom: 6px;
}