<mat-card class="subject-card">
  <p class="course-title">{{ subject.Title }}</p>
  <img src="assets/images/home/{{subject.Path}}.png" alt="{{ subject.Title }}">

  <mat-card-actions>
    <span *ngIf="subject.PremiumVersionAvailable; else comingSoon">

      <span *ngIf="ownsCourse(subject.SubjectId); else canPurchase">
        <button mat-button [routerLink]="['/', parentPath, subject.Path]">
          <strong>PURCHASED</strong><br>
          Click here for access
        </button>
      </span>
      <ng-template #canPurchase>
          <button mat-button (click)="buyCourse()">
            <strong>BUY PREMIUM</strong><br>
            60 days access - $20.00
          </button>
      </ng-template>

    </span>
    <ng-template #comingSoon>
      <button mat-button disabled>PREMIUM VERSION<br>Coming soon</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
<div class="free-version" *ngIf="subject.FreeVersionAvailable">
  <a [routerLink]="['/', parentPath, subject.Path, 'free']">Free Version</a>
</div>