<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>{{ subject.Title }}</h3>
    </mat-card-title>
    <mat-card-subtitle>
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image 
    src="assets/images/home/{{subject.Path}}.png" alt="{{ subject.Title }}" width="200" height="140">
  <mat-card-actions>
    <span *ngIf="subject.PremiumVersionAvailable">

      <span *ngIf="ownsCourse(subject.SubjectId); else canPurchase">
        <button mat-button [routerLink]="['/', parentPath, subject.Path]">
          <strong>PURCHASED!</strong><br>
          Click here for access
        </button>
      </span>
      <ng-template #canPurchase>
          <button mat-button (click)="buyCourse()">
            <strong>BUY PREMIUM</strong><br>
            60 days access - $20.00
          </button>
      </ng-template>
    </span>
  </mat-card-actions>
</mat-card>
<div class="free-version">
  <a [routerLink]="['/', parentPath, subject.Path, 'free']">Free Version</a>
</div>