/* Typography */
h2 {
    font-weight: 400;
    font-size: 1.6em;
}

p {
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.6em;
}

/* Layout */
.header-container {
    background-image: url('/assets/images/landing-page/background.jpg');
    max-width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: inline-block;
    top:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;
    padding: 30px 0 30px 0;
    text-align: center;
}

.logo-container {
    vertical-align: top;
    display: inline-block;
    margin-right: 30px;
}

.info {
    max-width: 380px;
    text-align: left;
    color: #fff;
    display: inline-block;
    right: 0px;
    padding: 30px 10px 20px 10px;

    h2 {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 2em;
        font-weight: 400 !important;
    }

    p {
        font-size: 1.1em;
        line-height: 1.6em;

        strong {
            font-weight: 500 !important;
        }
    }
}

.content {
    padding: 20px 0 60px 0;
    display: flex;
    justify-content: center;

    &__wrapper {
        width: 500px;
        flex: 0 0 auto;
    }

    &__info {
        padding-bottom: 20px;
        width: 500px;

        h2 {
            padding: 0;
            margin: 0;
        }

        p {
            padding: 0;
            margin: 0;
            font-size: 1.1em;
        }
    }

    mat-card {
        box-shadow: 0 1px 1px -1px rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.12);
    }

    mat-card-header {
        border-bottom: 1px solid #eee !important;
    }
    
    mat-card-content {
        margin-top: 20px;
    }
}