<div class="header-container">

    <div class="logo-container">
      <img src="/assets/images/landing-page/groundschoolnz-logo-200.png" />
    </div>
    <div class="info mat-typography">
      <h2>WELCOME TO GROUND SCHOOL</h2>
      <p>
        We want to help you study by providing <strong>quality
        online flight training resources for New Zealand pilots.</strong>
      </p>
    </div>
</div>

<div class="content mat-typography">

  <div class="content__wrapper">

    <div class="content__info">

      <app-course-index>
      </app-course-index>

      <!-- <mat-card>

        <mat-card-header>
          <mat-card-title>
            <h2>Flashcards</h2>
            <p>
              GroundSchool Flashcards are a way to revise material covered by the
              <a href="https://www.waypoints.nz/" target="_blank">Waypoints Aviation textbooks</a>.
              Content is separated by course (eg. PPL), subject (eg. Air Law), and topic (eg. Airspace).
            </p>
            <p>
              To start, select a course, the number of cards to generate, and one or more subjects.
              You can study specific subjects or topics by selecting/deslecting them below.
            </p>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <app-flashcards-builder
            [courses]="allCourses"
            (submitted)="onBuilderSubmit($event)">
          </app-flashcards-builder>
        </mat-card-content>

      </mat-card> -->
    </div>
    
    
  </div>

</div>