<div *ngIf="flashcardViewerQuestion; else noQuestions">
  <mat-card ngClass.xs="mat-card--sm" ngClass.sm="mat-card--sm">
    <!-- Title -->
    <mat-card-title>
      <h4 ngClass.xs="sm" ngClass.sm="sm">
        {{ flashcardViewerQuestion.TopicTitle }} - {{ questionNumber }}/{{ numberOfQuestions }}
      </h4>
    </mat-card-title>
    <mat-card-subtitle>
      <p ngClass.xs="sm" ngClass.sm="sm">Syllabus reference: {{ flashcardViewerQuestion.Question.SyllabusRef }}</p>
    </mat-card-subtitle>

    <!-- Question -->
    <mat-card-content *ngIf="isQuestionState()" (click)="toggleState()">
      <div class="question" ngClass.xs="question--sm" ngClass.sm="question--sm">
        {{ flashcardViewerQuestion.Question.Question }}
      </div>

      <div class="question__instructions">
        Press to show answer
      </div>
    </mat-card-content>
    
    <!-- Answer -->
    <mat-card-content *ngIf="isAnswerState()" (click)="toggleState()">
      <div class="answer" ngClass.xs="answer--sm" ngClass.sm="answer--sm">
        {{ flashcardViewerQuestion.Question.Answer }}<br>
      </div>

      <!-- References -->
      <div class="references" ngClass.xs="references--sm" ngClass.sm="references--sm">
        <span class="title">References:</span>
        <ul>
          <li *ngFor="let reference of sortReferences(flashcardViewerQuestion.Question.References)">
            <a href="{{ reference.Url }}" target="_blank" *ngIf="reference.Url; else noLink">{{ reference.Text }}</a>
            <ng-template #noLink>{{ reference.Text }}</ng-template>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #noQuestions>
  <h2>Yo mama...</h2>
</ng-template>