<div *ngIf="flashcardViewerQuestion; else loading">
  <mat-card>
    <!-- Title -->
    <mat-card-title>
      <div class="actions-bar">

        <span class="review-set-badge" *ngIf="isInReviewSet">Review</span>

        <!--
        <button mat-button
          (click)="addToReviewSet(flashcardViewerQuestion)"
          *ngIf="!isInReviewSet(); else inReviewSet"
          style="cursor: pointer">
          <i class="material-icons">playlist_add</i>
            Save to review list
        </button>
        <ng-template #inReviewSet>
          <button mat-button (click)="removeFromReviewSet(flashcardViewerQuestion)">
            <i class="material-icons">playlist_add_check</i>
            Remove from review list<br>
          </button>
        </ng-template>
        -->
      </div>
      <h4>
        {{ flashcardViewerQuestion.topicTitle }} - {{ questionNumber }}/{{ numberOfQuestions }}
      </h4>
    </mat-card-title>
    <mat-card-subtitle>
      <p>Syllabus reference: {{ flashcardViewerQuestion.question.syllabusRef }}</p>
    </mat-card-subtitle>

    <!-- Question -->
    <mat-card-content *ngIf="isQuestionState()" (click)="toggleState()">
      <div class="question">
        {{ flashcardViewerQuestion.question.question }}
      </div>

      <div class="question__instructions">
        Press to show answer
      </div>
    </mat-card-content>
    
    <!-- Answer -->
    <mat-card-content *ngIf="isAnswerState()" (click)="toggleState()">
      <div class="answer">
        {{ flashcardViewerQuestion.question.answer }}<br>
      </div>

      <!-- References -->
      <div class="references">
        <span class="title">References:</span>
        <ul>
          <li *ngFor="let reference of sortReferences(flashcardViewerQuestion.question.references)">
            <a href="{{ reference.url }}" target="_blank" *ngIf="reference.url; else noLink">{{ reference.text }}</a>
            <ng-template #noLink>{{ reference.text }}</ng-template>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <h2>Loading...</h2>
</ng-template>