.mat-card {
    max-width: 100%;
    padding: 10px 20px 30px 20px;
    text-align: center;

    &--sm {
        @extend .mat-card;
        padding-bottom: 16px;
    }
}

.mat-card-title {
    h4.sm {
        margin: 14px 2px 6px 2px;
    }   
}

.mat-card-subtitle {
    p {
        padding: 4px 0;
        margin: 0;
    }

    p.sm {
        padding: 0;
    }
}

.actions-bar {
    text-align: right;

    .review-set-badge {
        font-size: 14px;
        font-weight: 100;
        color: #fff;
        background-color: #ff8200;
        border-radius: 2px;
        padding: 4px 12px;
    }

    button {
        i {
            vertical-align: middle;
            margin-top: -4px;
        }
        font-size: 0.6em;
        color: #333;
        font-weight: 100;
        cursor: pointer;
    }
}

.question, .answer {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
    cursor: pointer;
    padding: 20px 30px;

    &--sm {
        @extend .question;
        padding: 10px 2px;
    }

    &__instructions {
        @extend .question;
        font-size: 0.8em;
        color: #999;
    }
}

.references {
    font-size: 0.8em;
    line-height: 1.6em;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 20px;

    &--sm {
        @extend .references;
        padding-top: 10px;
    }

    .title {
        display: inline;
        font-weight: bold;
    }

    ul {
        display: inline;
        padding: 0 0 0 20px;
        margin: 0;
    }
    
    li {
        display: inline;
    }
    
    li:not(:first-child):before {
        content: " | ";
        padding: 0 10px;
    }
}