.form-container {
    width: 500px;
    margin-left: 20px;
    padding: 20px;
    background-color: #fff;
}

.form-row {
    padding: 6px 0;
    width: 100%;
}

mat-form-field {
    width: 100%;
}

textarea {
    line-height: 1.4em;
}

.mat-stroked-button {
    color: #333;
    border-color: #333;
    margin-left: 10px;
}

.add-reference {
    width: 100%;
    display: inline-block;
    text-align: right;

    &__button {
        background-color: #390;
        display: block;
        float: right;
    }
}