<div *ngIf="flashcardViewerQuestion; else loading">
  <mat-card>
    <!-- Title -->
    <mat-card-title>
      <h3>
        <span *ngIf="isQuestionState()">Question</span>
        <span *ngIf="isAnswerState()">Answer</span>
        {{ questionNumber }}/{{ numberOfQuestions }}
      </h3>
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{ flashcardViewerQuestion.subjectTitle }} > {{ flashcardViewerQuestion.topicTitle }}</p>
    </mat-card-subtitle>

    <!-- Question -->
    <mat-card-content *ngIf="isQuestionState()" (click)="toggleState()">
      <div class="question">
        {{ flashcardViewerQuestion.question.question }}
      </div>

      <div class="question__instructions">
        Press to show answer
      </div>
    </mat-card-content>
    
    <!-- Answer -->
    <mat-card-content *ngIf="isAnswerState()" (click)="toggleState()">
      <div class="answer">
        {{ flashcardViewerQuestion.question.answer }}<br>
      </div>

      <!-- References -->
      <div class="references">
        <span class="title">References:</span>
        <ul>
          <li *ngFor="let reference of sortReferences(flashcardViewerQuestion.question.references)">
            <a href="{{ reference.Url }}" target="_blank" *ngIf="reference.Url; else noLink">{{ reference.Text }}</a>
            <ng-template #noLink>{{ reference.Text }}</ng-template>
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loading>
  <h2>Loading...</h2>
</ng-template>