<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>Self-study tips (Part 1)</app-page-title>
    </div>

    <div class="content">
      <p class="article-info">Published Monday Jan 13, 2020</p>

<p>
    Finding it tricky to keep on top of studying for the CAA written exams? We're here to help!
    Finding time in between everything else going on can be tough and study's often the first thing 
    to get bumped when things get too busy.
  
<p>
  This week is the first of a two-parter, with nine tips to help stay motivated, optimise
  your study time, and get the exams done.
</p>

<img src="/assets/images/articles/2020-01-13/1.jpg" class="center">

<h3>1. Know what you need to know</h3>

<p>
    The first step is to make sure you’re studying the right things and, more importantly,
    don’t miss anything out. Good news! The CAA provides a list of topics that can be covered 
    in each exam, published in Advisory Circulars (ACs).
</p>

<p>
    <a href="https://www.aviation.govt.nz/rules/advisory-circulars/" target="_blank">
    ACs are available for free from the CAA website</a>. Different ACs cover different subjects,
    but the ones we’re after start with “AC61-”, which give the requirements for a specific 
    to a license or rating. For example, AC61-3 is the guide for PPL, AC61-5 for CPL, etc.
</p>

<img src="/assets/images/articles/2020-01-13/2.png" class="center">

<p>
    These guides contain a lot of other information about the license/rating, so finding the exam syllabus 
    can be a little tricky. Open the AC and search for <b>“Written Examination Syllabus”.</b> This is the 
    main heading for all subjects - scroll down until you find the specific exam you’re studying for.
</p>

<p>
    It’s a good idea to have a quick look through all the topics before you start studying, and 
    then again before you take the exam to make sure you don’t get any surprises.
</p>

<h3>2. Realistic goals</h3>

<p>
    Sitting the exam in a week after back-to-back marathon study sessions might sound like a good idea, 
    but... realistic? If it is, don't let me get in your way... go for it! But if not,
    maybe it's a better idea to dial the intensity back and avoid study sessions becoming something 
    that goes straight to the Too Hard Basket.
</p>

<img src="/assets/images/articles/2020-01-13/3.jpg" class="center">

<p>
    That said, don’t go too far the other way either. The most important component is consistency 
    - doing at least a little bit regularly - and a schedule that works with your lifestyle. Staying 
    up until 2am studying every night's no good if you burn out after a few days.
</p>

<p>
  Which brings us to...
</p>

<h3>3. Make a schedule. Stick with it.</h3>

<p>
    You've committed to getting the exam done, now make it a priority. OK it's tough,
    but stick at it and exam day will come, then it's done. (Well, except for KDRs, but 
    we'll talk about those some other time).
</p>

<p>
    Think honestly about how much time you can set aside for studying, especially if you have other 
    commitments like work, family etc. The important thing is that it doesn't become such a burden
    that it starts getting ignored in favour of other things. Once you've figured out how much time
    you can set aside, schedule it in, and do your best not to let anything else get in the way of
    that time.
</p>

<h3>4. Short, frequent sessions</h3>

<p>
    Science says 
    <a href="https://www.aft.org/periodical/american-educator/summer-2002/ask-cognitive-scientist" target="_blank">
    shorter and more frequent sessions</a> are more likely to help you retain what you're
    taking in. Sometimes the long study sessions are unavoidable - but if at all possible aim for
    regular, relatively brief periods to study. This can be especially powerful if you combine 
    regular revision along with the new material.
</p>

<hr>

<p>
  We're back next week with the remaining five tips. As always we'd love to hear your questions or feedback.
  You can get in touch by leaving a comment or sending a message through the GroundSchool NZ
  <a href="https://facebook.com/groundschool.nz" target="_blank">Facebook page</a>.
</p>

    </div>
  </div>
</div>