h3 {
    margin: 30px 0 10px 0;
}

.form-row {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    &__label {
        flex: 0 0 100px;
        vertical-align: middle;

        h3 {
            padding: 0;
            margin: 0;
        }

        &--pad-top {
            @extend .form-row__label;
            padding-top: 12px;
        }
    }

    &__field {
        flex: 1 0 auto;
        max-width: calc(100% - 100px);

        &--no-subjects {
            @extend .form-row__field;
            margin-top: 4px;
        }

        .subject {
            &__checkbox-row {
                display: inline-block;

                p {
                    padding-left: 20px;
                    margin: 0;
                    display: inline-block;
                }
            }
        }

        .topic {
            &__checkbox-row {
                display: flex;
                margin-left: 6px;

                mat-checkbox {
                    flex: 0 0 20px;
                }

                p {
                    flex: 0 0 calc(100% - 100px);
                    font-size: 0.8em;
                    line-height: 1.2em;
                    padding: 6px 0 6px 20px;
                    margin: 0;
                }
            }
        }

        mat-accordion {
            max-width: 100%;
        }

        mat-expansion-panel {
            width: 100%;
            box-shadow: 0 1px 1px -3px rgba(0,0,0,.1), 0 1px 1px 0 
                rgba(0,0,0,.1), 0 1px 1px 0 rgba(0,0,0,.12);
        }

        mat-expansion-panel-content {
            max-width: 400px;
        }
    }

    &__submit {
        @extend .form-row;
        justify-content: center;
    }
}

.set-size {
    &__radio {
        margin-right: 30px;
    }
}