<div class="form-row">
  <div class="form-row__label--pad-top"><h3>Course</h3></div>
  <div class="form-row__field">
      <mat-form-field class="topic-selector__topic">
          <mat-select placeholder="Course" (change)="matSelectCourse($event)" [value]="selectedCourse">
          <mat-option *ngFor="let course of courses" [value]="course">
              {{ course.title }}
          </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
</div>

<div class="form-row">
    <div class="form-row__label"><h3>Cards</h3></div>
    <div class="form-row__field">
      <mat-radio-group [(ngModel)]="numberOfQuestions">
          <mat-radio-button class="set-size__radio" *ngFor="let n of numberOfQuestionsOptions" [value]="n">
            {{ n }}
          </mat-radio-button>
        </mat-radio-group>
    </div>
</div>

<div class="form-row">
  <div class="form-row__label"><h3>Subjects</h3></div>
  <div class="form-row__field">
    <div *ngIf="subjectsState.length > 0; else nosubjects">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of subjectsState">
          <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-checkbox
                  [(ngModel)]="subject.selected"
                  (change)="toggleSubject($event, subject.id)"
                  (click)="$event.stopPropagation();"
                  color="primary">
              </mat-checkbox>
              <p class="form-row__field--cb-label">{{ subject.title }}</p>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let topic of subject.topics">
            <mat-checkbox
              [(ngModel)]="topic.selected"
              (click)="$event.stopPropagation();">
              {{ topic.title }}
            </mat-checkbox>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
      <mat-expansion-panel></mat-expansion-panel>



      <!-- <div *ngFor="let subject of subjectsState">
        <mat-checkbox
          [(ngModel)]="subject.selected"
          (change)="onSubjectToggled($event, subject.id)">
          <strong>{{ subject.title }}</strong>
        </mat-checkbox>
      
        
        </div> -->
      <!-- </div> -->
    </div>
    <ng-template #nosubjects class="form-row__field--no-subjects">
      <p class="form-row__field--no-subjects">
          (Select a course to load subjects)
      </p>
    </ng-template>
  </div>
</div>

<div class="form-row__submit">
  <button mat-flat-button (click)="onSubmit()">Get Flashcards</button>
</div>