<div class="form-row">
  <div class="form-row__label--pad-top"><h3>Course</h3></div>
  <div class="form-row__field">
      <mat-form-field class="topic-selector__topic">
          <mat-select placeholder="Course" (change)="matSelectCourse($event)" [value]="selectedCourse">
          <mat-option *ngFor="let course of Courses" [value]="course">
              {{ course.Title }}
          </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
</div>

<div class="form-row">
  <div class="form-row__label"><h3>Subjects</h3></div>
  <div class="form-row__field">
    <div *ngIf="subjectsState.length > 0; else nosubjects">

        <!-- Subject (heading) -->
        <mat-expansion-panel *ngFor="let subject of subjectsState">
          <mat-expansion-panel-header>
            <mat-panel-title class="subject__checkbox-row">
                <mat-checkbox
                  [(ngModel)]="subject.selected"
                  (change)="toggleSubject($event, subject.id)"
                  (click)="$event.stopPropagation();"
                  color="primary"
                  class="allow-wrap">
                  {{ subject.Title }}
              </mat-checkbox>

            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- Topics for subject (body) -->
          <div *ngFor="let topic of subject.Topics" class="topic__checkbox-row">
            <mat-checkbox
              [(ngModel)]="topic.selected"
              (click)="$event.stopPropagation();"
              color="primary">
            </mat-checkbox>
            <p>{{ topic.Title }}</p>
          </div>
          
        </mat-expansion-panel>

        <p class="form-row__field--instructions">
          Expand to show topics for a subject
        </p>
    </div>

    <ng-template #nosubjects class="form-row__field--no-subjects">
      <p class="form-row__field--no-subjects">
          (Select a course to load subjects)
      </p>
    </ng-template>
  </div>
</div>

<div class="form-row__submit">
  <button mat-flat-button
    (click)="onSubmit()"
    [disabled]="!hasSelectedCourse()">Generate Flashcards</button>
</div>