<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>Welcome back<span *ngIf="currentUser && currentUser.Name">, {{ currentUser.Name }}</span>
      </app-page-title>
    </div>

    <div class="content">

      <!-- Purchased Courses -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="section-title">Purchased Courses</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="panel-content-wrapper">
          <p *ngIf="isLoading; else courseInfo">Loading...</p>
          <ng-template #courseInfo>

              <div *ngIf="hasCourses(); else noCourses" class="subject-cards-container">
                <div *ngFor="let purchasedCourse of getPurchasedCourses()" class="subject-cards-container__card-container">
                  <app-purchased-course-card
                    [subject]=purchasedCourse.Subject
                    [parentPath]="purchasedCourse.CoursePath"
                    [expiryDate]="purchasedCourse.ExpiryDate">
                  </app-purchased-course-card>
                </div>

                <div class="subject-cards-container__card-container">
                  <app-purchased-course-card [isMoreCoursesCard]="true"></app-purchased-course-card>
                </div>
              </div>

              <ng-template #noCourses>
                <p>You haven't purchased any courses. <a routerLink="/">See available courses.</a></p>
              </ng-template>

          </ng-template>
        </div>
      </mat-expansion-panel>

      <!-- Review questions -->
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="section-title">Questions Marked for Review</h3>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="panel-content-wrapper">
          <p *ngIf="isLoading; else reviewInfo">Loading...</p>
          <ng-template #reviewInfo>
            <app-review-questions
              [reviewSet]="reviewSet"
              [userId]="currentUser.MemberId"
              [showActionButtons]="true"
              [pageSize]="5"
              [showMoreLink]="'/review-set'">
            </app-review-questions>
          </ng-template>
        </div>
      </mat-expansion-panel>
    </div>
  </div>
</div>