<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>My GroundSchool</app-page-title>
    </div>

    <div class="content">
      <div class="content__purchased-courses">
        <h3>Purchased Courses</h3>

        <p *ngIf="isLoading; else courseInfo">Loading...</p>
        <ng-template #courseInfo>

            <div *ngIf="hasCourses(); else noCourses" class="subject-cards">
              <app-purchased-course-card
                *ngFor="let purchasedCourse of getPurchasedCourses()"
                [subject]=purchasedCourse.Subject
                [parentPath]="purchasedCourse.CoursePath">
              </app-purchased-course-card>
            </div>

            <ng-template #noCourses>
              <p>You haven't purchased any courses.</p>
            </ng-template>
        </ng-template>
        
      </div>
      
      <div class="content__review-questions">
        <h3>Review Questions</h3>

        <p *ngIf="isLoading; else reviewInfo">Loading...</p>
        <ng-template #reviewInfo>

          <div *ngIf="hasReviewQuestions(); else noReviewQuestions">
              <ul>
                <li *ngFor="let q of reviewSet.Questions">{{ q.Question }}<br>{{ q.Answer }}</li>
              </ul>
          </div>

          <ng-template #noReviewQuestions>
            <p>You don't have any saved review questions.</p>
          </ng-template>

        </ng-template>

      </div>
    </div>
  </div>
</div>