.wrapper {
    max-width: 100%;

    .content-wrapper {
        max-width: 900px;
    }
}

h1 {
    margin-bottom: 6px;
}

.course-card {
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 14px 20px 0 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.subject-cards-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    &__card-container {
        display: flex;
        flex: 0 0 auto;
        margin: 0 30px 14px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}