<div *ngIf="!allCourses; else courseIndex">
  Loading courses...
</div>

<ng-template #courseIndex>
  <div class="wrapper">
    <h1>Flashcards</h1>
    <p class="page-description">
      GroundSchool flashcards are question sets designed to help revise content covered in the CAA
      theory exams. Questions are based directly on the CAA syllabus, meaning you only study what
      you need to know.
    </p>
    <div class="content-wrapper">

      <h2 *ngIf="!hasCourses(); else courses">Loading...</h2>
      <ng-template #courses>
        <mat-card *ngFor="let course of getCoursesWithPremiumSubjects(allCourses)" class="course-card">
            <mat-card-title>
                <h2>{{ course.Title }}</h2>
            </mat-card-title>
            <mat-card-content>
                <div class="subject-cards-container">
                  <div *ngFor="let subject of getActiveSubjects(course.Subjects)" class="subject-cards-container__card-container">
                    <app-subject-card [subject]=subject [parentPath]="course.Path"></app-subject-card>
                  </div>
                </div>
            </mat-card-content>
          </mat-card>
      </ng-template>
    </div>
  </div>
</ng-template>