<div *ngIf="!allCourses; else courseIndex">
  Loading courses...
</div>

<ng-template #courseIndex>
  <div class="wrapper">
    <div class="content-wrapper">

        <mat-card *ngFor="let course of allCourses">
          <mat-card-title>
              <h2>{{ course.Title }} Subjects</h2>
          </mat-card-title>
          <mat-card-content>
              <div class="subject-cards">
                <div *ngFor="let subject of course.Subjects" class="subject-cards__card">
                  <app-subject-card [subject]=subject [parentPath]="course.Path"></app-subject-card>
                </div>
              </div>
          </mat-card-content>
        </mat-card>
        
    </div>
  </div>
</ng-template>