.wrapper {
    max-width: 100%;

    .content-wrapper {
        max-width: 900px;
    }
}

h1 {
    margin-bottom: 6px;
}

.mat-card {
    -webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
    box-shadow: none !important;
    padding: 14px 20px 0 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

.subject-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    &__card {
        display: flex;
        margin: 0 10px 10px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}