/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');


html {
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #f7f7f7;
}

h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300 !important;

}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100 !important;
}

.container-no-padding .mat-dialog-container {
    padding: 0;
    max-height: 100vh;
}

.mat-flat-button {
    background-color: #235073 !important; // TODO: override in the theme
}

.mat-flat-button:disabled {
    color: #8298a9 !important; // TODO: override in the theme
}

.mat-content {
    overflow: visible !important;
}

.allow-wrap .mat-checkbox-label {
    line-height: 1.4em;
    white-space: normal;
    margin: 16px 0 16px 10px;
}

.mat-simple-snackbar {
    justify-content: center;
}

.gs-snackbar {
    font-weight: 100;
    font-size: 0.8em;
    justify-content: center;
}

.gs-snackbar-warning {
    @extend .gs-snackbar;
    background-color: #f57c00;
}