<div class="wrapper">
  <div class="content-wrapper">
    <div class="title">
      <app-page-title>So. Flying. Where do I start?</app-page-title>
    </div>

    <div class="content">
      <p class="article-info">Published Monday Jan 6, 2020</p>

<p>
  Getting started in aviation can be intimidating. There are a lot of resources, 
  sometimes with varying degrees of accuracy, and sometimes with conflicting opinions.
  Our goal here is to outline the basics and give you something to use as a jumping-off-point,
  so you can dig deeper into the kind of flying you’re interested in.
</p>

<h3>Step 1: Trial flight</h3>

<p>
  Sometimes the <i>idea</i> of flying can be quite different to actually being airborne 
  in a small general aviation aircraft. A common recommendation for new pilots is to take a 
  trial flight (sometimes called an intro flight) at a local aero club, and make sure it is 
  what you think it is before you head too far down the rabbit hole.
</p>

<p>
  A trial flight is a short flight with an instructor where you get the full experience of flying in
  a light aircraft. It usually includes an overview of what the flight controls are, and how they’re used to
  manipulate the aircraft.
</p>

<img src="/assets/images/articles/2020-01-06/1.png" class="center">

<h3>Step 2: Pick a (rough) path</h3>

<p>
  There are a <i>huge</i> number of ways to be involved in aviation in New Zealand. Maybe you want 
  to fly a badass bush plane as a weekend hobby. An airshow pilot? Or your goal might be a career as a 
  commercial pilot - airlines, top-dressing pilot, a career flight instructor, or scenic flights. Depending 
  on what your focus is will determine the kind of training you’ll want to pursue (we’ll talk about that in a second).
</p>

<p>
  The best recommendation here is to talk to people that are doing it. The kiwi aviation community is a friendly 
  one - check out Facebook groups, hang out around the airport, mention your interest to friends and family.
</p>

<p>
  And don’t worry too much about making the perfect decision, you can always change your mind later.
</p>


<h3>Step 3: Get your medical</h3>

<p>
    Now you’ve figured out what you want to do, it’s important to make sure you meet the medical requirements before
    you get too invested.
</p>

<p>
    The type of flying you want to do will determine the type of license you need (eg. RPL, PPL, CPL, or ATPL), 
    which will in-turn determine the kind of medical you need to hold. We’ll talk about the different license types 
    in a future article, but in general:
</p>

  <ul>
    <li><p>RPL (Recreational Pilot License): Class 2 medical or an NZTA DL9.</p></li>
    <li><p>PPL (Private Pilot License): Class 2 medical.</p></li>
    <li><p>CPL and ATPL: Class 1 medical.</p></li>
  </ul>


<p>
    So if your goal is to be a commercial pilot, it’s a good idea to make sure you can pass a Class 1 medical early in the game.
</p>

<p>
    We’ll dive into the details of aviation medicals in a future article, but for now just know that you need to visit a 
    medical examiner who’s qualified to administer CAA medical exams. A list of qualified examiners is available on the CAA 
    website at
    <a href="https://www.aviation.govt.nz/licensing-and-certification/medical-certification/nz-medical-examiners/" target="_blank">
    https://www.aviation.govt.nz/licensing-and-certification/medical-certification/nz-medical-examiners/.</a>
</p>

<img src="/assets/images/articles/2020-01-06/2.png" class="center">

<h3>Step 4: Pick a flight school</h3>

<p>
    This is where things get a little tricky. There are many options for how to learn to fly, and will depend 
    on the type of flying you want to do. Again, we’ll leave the deep-dive for a future article, but the most 
    common routes are:
</p>

<ul>
  <li>
    <p>
        <b>Aero Clubs and non-academy training organisations</b><br>
        These are (usually) smaller organisations who can provide flying lessons on a more casual basis. The 
        flight instructors here are assessed to the same top quality as any other in New Zealand, and are often some 
        of the most experienced you’ll find anywhere.
    </p>

    <p>
        Clubs and other training organisations often offer more of a ‘community’ feel than some other options. 
        For example, most clubs put on regular get-togethers like fly-aways, competitions, and BBQs.
    </p>

    <p>
        Some drawbacks of this route might (possibly) be availability of aircraft. For example, if you wanted 
        to complete a multi-engine or complex rating, it’s important to check the organisation has access to these 
        resources - but these parts of your training can always be completed somewhere else.
    </p>

    <p>
        You can find a list of NZ aero clubs on the Flying NZ website here: https://flyingnz.co.nz/where.html, or 
        Google “Flight training (your location here)” to find other training organisations in your area.
    </p>
  </li>

  <li>
    <p>
      <b>Aviation Academies</b><br>
      If you’re interested in a commercial pilot career and want to get through the training fast, flight academies
      may be a good option. Academies offer modular courses which include theory and practical flying, and are 
      usually full-time. They often require passing a fairly rigorous application process, made up of interviews and 
      aptitude tests.
    </p>

    <p>
        Academies have the advantage of full immersion in the aviation world, often with great resources 
        (eg. simulators, multi-engine aircraft, etc.). A drawback is that this is possibly at the cost of the 
        community feel of an aero club, and they can also be quite a high-pressure environment.
    </p>

    <p>
        There are a number of aviation academies around the country, some of which are accredited by Air New Zealand 
        as Preferred Flight Training Organisations (Preferred FTOs). Many of the academies offer the possibility of 
        Government-funded student loans for domestic (NZ) students.
    </p>
  </li>

  <li>
    <p>
        <b>Royal New Zealand Air Force (RNZAF)</b><br>
        The RNZAF is well known for extremely high quality training, and will likely expose you to types of flying 
        that aren’t as common in the civilian world - for example, aerobatics and formation flying. Another advantage 
        is that, outside the RNZAF, military aviation experience is often a sought-after trait by employers.
    </p>

    <p>
        Another huge advantage is that if you’re awarded a flying position in the RNZAF, your flight training will 
        be free. In return for this - either a disadvantage or advantage depending on how you look at it - is that 
        you’ll be required to fulfill a commitment to the Air Force in terms of serving with them for a given time in 
        return for your pilot training.
    </p>
  </li>
</ul>

<img src="/assets/images/articles/2020-01-06/3.png" class="center">

<p>
    There’s a lot of information in here, and a lot more to cover (including flight tests, theory exams, how to 
    find a flight instructor, etc.). We’d love to hear more from you about your experiences getting started, or 
    if you have any thoughts or questions - please leave a comment or send us a message through our
    <a href="https://facebook.com/groundschoolnz" target="_blank">Facebook page</a>.
</p>

<h2>Resources</h2>

<ul>
  <li>
    <p>
        Air New Zealand Academy of Learning - “Becoming a Pilot” (<a href="https://www.airnzlearning.co.nz/becoming-a-pilot" target="_blank">https://www.airnzlearning.co.nz/becoming-a-pilot</a>)
    </p>
  </li>

  <li>
    <p>
      Flying NZ (<a href="https://flyingnz.co.nz" target="_blank">https://flyingnz.co.nz</a>)
    </p>
  </li>

  <li>
    <p>
      "So, You Want to be an Air New Zealand Pilot?" (<a href="https://www.nelson-aviation.co.nz/~downloads/AirNZ%20Booklet.pdf" target="_blank">https://www.nelson-aviation.co.nz/~downloads/AirNZ%20Booklet.pdf</a>)
    </p>
  </li>

  <li>
    <p>
      CAA Licensing and Certification (<a href="https://www.aviation.govt.nz/licensing-and-certification/pilots/" target="_blank">https://www.aviation.govt.nz/licensing-and-certification/pilots/</a>)
    </p>
  </li>
</ul>

    </div>
  </div>
</div>