
<div class="page-wrapper">
  <mat-card class="register-container">
    
      <mat-card-title>
        <img src="/assets/images/login/logo.png" alt="GroundSchool NZ"><br>
        Create Account
      </mat-card-title>
      
      <mat-card-content *ngIf="showRegisterForm();else activatePanel">
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
          <div>
            <mat-form-field>
              <input matInput formControlName="email" placeholder="Email">
              <mat-error *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                Valid email required
              </mat-error>
            </mat-form-field>
          </div>
          
          <div formGroupName="password">
            <div>
              <mat-form-field>
                <input matInput formControlName="original" type="password" placeholder="Password">
                <mat-error *ngIf="!registerForm.get('password.original').valid && registerForm.get('password.original').touched">
                  Required
                </mat-error>
              </mat-form-field>
            </div>
        
            <div>
              <mat-form-field>
                <input matInput formControlName="confirm" type="password" placeholder="Confirm Password">
                <mat-error *ngIf="!registerForm.get('password.confirm').value !== '' && registerForm.get('password.confirm').touched">
                  Required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="error-msg" *ngIf="hasError()">
            {{ errorMessage }}
          </div>
          
          <mat-card-actions class="register-container__actions-panel">
            <button mat-raised-button [disabled]="!registerForm.valid">Register</button>
          </mat-card-actions>

          <mat-card-footer>
            Already have an account? <a [routerLink]="['/login']">Log in</a>
          </mat-card-footer>
        </form>
      </mat-card-content>

    <!-- TODO: move this to a separate component so we can have an /activate route -->
    <ng-template #activatePanel>
      <mat-card-content>
        <form [formGroup]="activateForm" (ngSubmit)="onActivate()">
          <div *ngIf="showActivateForm()">
            <div class="activate-message">
              <p>
                An email containing your activation code is on its way to
                <strong>{{ this.registerForm.get('email').value }}</strong>.
              </p>

              <p>
                If you don't receive an activation email, please get in touch via the GroundSchool NZ<br>
                <a href="{{ facebookUrl }}">Facebook page</a>.
              </p>
            </div>
              
            <!-- Activate form -->
            <div>
              <mat-form-field>
                <input matInput formControlName="email" placeholder="Email">
                <mat-error *ngIf="!activateForm.get('email').valid && activateForm.get('email').touched">
                  Valid email required
                </mat-error>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input matInput formControlName="code" placeholder="Code">
                <mat-error 
                  *ngIf="!activateForm.get('code').value !== '' && activateForm.get('code').touched">
                  Required
                </mat-error>
              </mat-form-field>
            </div>

            <div class="error-msg" *ngIf="hasActivationError()">
              {{ activateErrorMessage }}
            </div>
            <mat-card-actions>
              <button mat-raised-button [disabled]="!activateForm.valid">Activate Account</button>
            </mat-card-actions>
            <!-- End activate form -->
          </div>
        </form>

        <!-- Activate success -->
        <div class="activate-success" *ngIf="showActivateSuccessMessage()">
          Your account has been activated.
        </div>
            
      <div class="return-to-login">
        Return to <a [routerLink]="['/login']">Log in</a>
      </div>
      </mat-card-content>
    </ng-template>
  </mat-card>
</div>
