.gs-header-image {
    background-image: url('/assets/images/login/logo.png');
}

.register-container {
    padding: 20px 40px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.mat-card-actions {
    margin-bottom: 20px !important;
}

.activate-message {
    line-height: 1.6em;
    margin-bottom: 30px;
}

.error-msg {
    padding: 0px 0 14px 0;
    color: #f44336;
}

.mat-card-footer {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.return-to-login {
    font-size: 0.8em;
}