.page-wrapper {
    background-image: url('/assets/images/login-background.jpg');
    width: 100%;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
    z-index:-1;

    padding-top: 20px;
    text-align: center;
}

.gs-header-image {
    background-image: url('/assets/images/login/logo.png');
}

.register-container {
    width: 300px;
    display: inline-block;
    padding: 20px 40px;
}

::ng-deep .mat-input-wrapper{
    width: 260px !important;
}

.mat-card-actions {
    margin-bottom: 20px !important;
}

.activate-message {
    line-height: 1.4em;
}

.error-msg {
    padding: 0px 0 14px 0;
    color: #f44336;
}

.mat-card-footer {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.return-to-login {
    font-size: 0.8em;
}